<section id="wrapper">
  <div class="register-div" style="background-image:url(../assets/images/fondo-login.jpg);">
    <div class="login-box card">
      <div class="card-body">

        <form class="form-horizontal form-material" id="loginform" #newPassForm="ngForm"
          (ngSubmit)="onSubmit(newPassForm)">

          <h2 class="box-title text-center text-dark m-b-15">Crear una cuenta</h2>


          <div class="register">
            <mat-form-field appearance="outline">
              <mat-label for="password">Contraseña</mat-label>
              <input matInput placeholder="Ingresa tu contraseña" type="password" name="passNueva"
                [type]="hide1 ? 'password' : 'text'" #passNueva="ngModel" [(ngModel)]="newPassModel.passNueva" required>
              <mat-error>Este campo no puede estar vacío</mat-error>
              <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="register">
            <mat-form-field appearance="outline">
              <mat-label for="password2">Repite la contraseña</mat-label>
              <input matInput placeholder="Ingresa nuevamente tu contraseña" [type]="hide2 ? 'password' : 'text'"
                type="password" name="passNueva2" required>
              <mat-error>Este campo no puede estar vacío</mat-error>
              <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div class="register text-center mt-2">
            <button class="btn btn-info btn-lg btn-block btn-rounded waves-effect" type="submit"
              [disabled]="newPassForm.invalid">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</section>