    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register">
            <div class="login-box card">
                <div class="card-body">

                    <!-- form para el inicio de sesión -->
                    <form class="form-horizontal form-material" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

                        <h3 class="box-title m-b-20">Iniciar sesión</h3>

                        <div class="form-group ">
                            <label for="email"> Ingresa tu correo </label>
                            <div class="col-xs-12">
                                <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="correo"> 
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password"> Ingresa tu contraseña </label>
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="contraseña"> 
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info btn-rounded" [disabled]="loginForm.invalid" routerLink="/inicio" >Iniciar sesión</button>
                            </div>
                        </div>

                        <!-- iniciar sesión con Google -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <div class="g-signin2" data-onsuccess="onSignIn">
                                        <a class="btn btn-googleplus" data-toggle="tooltip" title="Iniciar sesión con Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- registrarse -->
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                ¿No tienes una cuenta? 
                                <a class="text-info m-l-5">
                                    <b>Regístrate</b>
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
  