<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">

                <form class="form-horizontal form-material" id="loginform" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

                    <h3 class="box-title m-b-20">Iniciar sesión</h3>

                    <div class="login ">
                        <mat-form-field>
                            <input matInput placeholder="Ingresa tu email" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required>
                        </mat-form-field>
                    </div>

                    <div class="login">
                        <mat-form-field>
                            <input matInput placeholder="Ingresa la contraseña" [type]="hide ? 'password' : 'text'" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Entrar</button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <button id="btnGoogle" class="btn btn-googleplus waves-effect waves-light" type="button"> <i class="fa fa-google-plus"></i> </button>
                        </div>  
                        <div class="col-sm-12 text-center">
                            <small>Inicia sesión con google</small>
                        </div>                          
                    </div>

                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿No tienes una cuenta?
                            <a routerLink="/register" class="text-info m-l-5">
                                <b>Regístrate aquí</b>
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>