<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/fondo-login.jpg);">
        <div class="login-box card">
            <div class="card-body">

                <form class="form-horizontal form-material" #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)">

                    <h2 class="box-title text-center text-dark m-b-15">Recuperar contraseña</h2>

                    <div class="login">
                        <mat-form-field appearance="outline">
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="Ingresa tu email" type="email" name="email" #email="ngModel"
                                [(ngModel)]="user.email" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div *ngIf="notificacion == 1" class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span
                                aria-hidden="true">&times;</span> </button>
                        <h3 class="text-success"><i class="fa fa-check-circle"></i> Success</h3>
                        ¡Te hemos enviado un correo!
                        Revisa tu correo y sigue las instrucciones.
                    </div>

                    <div class="form-group text-center m-b-5">
                        <div class="col-xs-12">
                            <button class="btn btn-block waves-effect btn-lg btn-info btn-rounded" type="submit"
                                [disabled]="emailForm.invalid">Enviar</button>
                        </div>
                    </div>

                    <div class="col-sm-12 mt-2" id="registro-responsivo">
                        <div class="col-sm-12 text-center" id="registro-responsivo2">
                            <a routerLink="/login" class="text-info m-l-5">
                                <b id="registro-responsivo2">Volver a inicio</b>
                            </a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>