<section id="wrapper" class="overflow-auto">
    <div class="login-register" style="background-image:url(assets/images/fondo.png);">
        <div class="login-box card overflow-auto">
            <div class="card-body">

                <form class="form-horizontal form-material" id="loginform" #registerForm="ngForm"
                    (ngSubmit)="onSubmit(registerForm)">

                    <h2 id="registro-responsivo" class="box-title text-center text-dark m-b-15">Crear una cuenta</h2>

                    <div class="login">
                        <mat-form-field appearance="outline">
                            <mat-label for="nombreUsuario">Nombre</mat-label>
                            <input matInput placeholder="Ingresa tu nombre" type="text" name="nombreUsuario"
                                #nombreUsuario="ngModel" [(ngModel)]="user.nombreUsuario" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="login">
                        <mat-form-field appearance="outline">
                            <mat-label for="apellidoUsuario">Apellido</mat-label>
                            <input matInput placeholder="Ingresa tu apellido" type="text" name="apellidoUsuario"
                                #apellidoUsuario="ngModel" [(ngModel)]="user.apellidoUsuario" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="login">
                        <mat-form-field appearance="outline">
                            <mat-label for="correo">Correo</mat-label>
                            <input matInput placeholder="Ingresa tu correo" type="email" name="email" #email="ngModel"
                                [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="login">
                        <mat-form-field appearance="outline">
                            <mat-label for="password">Contraseña</mat-label>
                            <input matInput placeholder="Ingresa tu contraseña" type="password" name="password"
                                [type]="hide1 ? 'password' : 'text'" #password="ngModel" [(ngModel)]="user.password"
                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                            <mat-error>Ingrese mínimo 8 caracteres entre mayúsculas, minúsculas y números</mat-error>
                            <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="login">
                        <mat-form-field appearance="outline">
                            <mat-label for="password2">Repite la contraseña</mat-label>
                            <input matInput placeholder="Ingresa nuevamente tu contraseña"
                                [type]="hide2 ? 'password' : 'text'" type="password" name="password2"
                                pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="form-group text-center mt-2">
                        <button class="btn btn-info btn-lg btn-block waves-effect" id="registro-responsivo"
                            type="submit" [disabled]="registerForm.invalid">Registrarme</button>
                    </div>

                    <div class="col-sm-12 mt-2" id="registro-responsivo">
                        <div class="col-sm-12 text-center" id="registro-responsivo2">
                            ¿Ya tienes una cuenta?
                            <a routerLink="/login" class="text-info m-l-5">
                                <b id="registro-responsivo2">Inicia sesión acá</b>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>