.register {
    display: inline;
    flex-direction: column;
}

.register>* {
    width: 100%;
}

.register-div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 5% 0;
    position: center;
  }