<<<<<<< HEAD
.register-div {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 5%;
  position: center;
}

.register {
  display: flex;
  flex-direction: column;
}

.register > * {
  width: 100%;
}
=======
.register {
    display: flex;
    flex-direction: column;
}

.register>* {
    width: 100%;
}
>>>>>>> parent of b61fd00... Register pt 1
