<section id="wrapper">
    <div class="register-div" style="background-image:url(../assets/images/fondo-login.jpg);">
        <div class="login-box card">
            <div class="card-body">

                <form class="form-horizontal form-material" id="loginform" #registerForm="ngForm"
                    (ngSubmit)="onSubmit(registerForm)">

                    <h2 class="box-title text-center text-dark m-b-15">Crear una cuenta</h2>

                    <div class="register">
                        <mat-form-field appearance="outline">
                            <mat-label for="nombreUsuario">Nombre</mat-label>
                            <input matInput placeholder="Ingresa tu nombre" type="text" name="nombreUsuario"
                                #nombreUsuario="ngModel" [(ngModel)]="user.nombreUsuario" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="register">
                        <mat-form-field appearance="outline">
                            <mat-label for="apellidoUsuario">Apellido</mat-label>
                            <input matInput placeholder="Ingresa tu apellido" type="text" name="apellidoUsuario"
                                #apellidoUsuario="ngModel" [(ngModel)]="user.apellidoUsuario" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="register">
                        <mat-form-field appearance="outline">
                            <mat-label for="correo">Correo</mat-label>
                            <input matInput placeholder="Ingresa tu correo" type="email" name="email" #email="ngModel"
                                [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <mat-error>Este campo no puede estar vacío</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="register">
                        <mat-form-field appearance="outline">
                            <mat-label for="password">Contraseña</mat-label>
                            <input matInput placeholder="Ingresa tu contraseña" type="password" name="password"
                                [type]="hide1 ? 'password' : 'text'" #password="ngModel" [(ngModel)]="user.password"
                                required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                            <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="register">
                        <mat-form-field appearance="outline">
                            <mat-label for="password2">Repite la contraseña</mat-label>
                            <input matInput placeholder="Ingresa nuevamente tu contraseña"
                                [type]="hide2 ? 'password' : 'text'" type="password" name="password2" required>
                            <mat-error>Este campo no puede estar vacío</mat-error>
                            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>

                    <div class="register text-center mt-2">
                        <button class="btn btn-info btn-lg btn-block btn-rounded waves-effect" type="submit"
                            [disabled]="registerForm.invalid">Registrarme</button>
                    </div>

                    <div class="register mt-2">
                        <div class="col-sm-12 text-center">
                            ¿Ya tienes una cuenta?
                            <a routerLink="/login" class="text-info m-l-5">
                                <b>Inicia sesión acá</b>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>