<body class="fix-header card-no-border fix-sidebar">

  <div class="row el-element-overlay">
    <div class="col-md-12">
      <h1>Aquí se puede hacer el buscador</h1>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="eventosDetalles">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title"> nombre evento </h3> <small> detalles </small>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <!-- 
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1"> <img src="../../../../assets/images/sin-imagen.png" alt="user" />
            <div class="el-overlay">
              <ul class="el-info">
                <li><a class="btn default btn-outline" href="javascript:void(0);">ver más</a></li>
              </ul>
            </div>
          </div>
          <div class="el-card-content">
            <h3 class="box-title">Título evento</h3> <small>Breve descripción del evento</small>
            <br />
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- ============================================================== -->
  <!-- End PAge Content -->
  <!-- ============================================================== -->
  
</body>