<div class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" [ngStyle]="{ display: modalService.oculto }" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title text-primary text-center">Agregar un expositor al evento</h4>
                <button type="button" class="close" (click)="ocultarModal()" >×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal p-t-20" #agregarExpositorForm="ngForm" (ngSubmit)="agregarExpositor(agregarExpositorForm)">

                    <div class="form-group row">
                        <label for="nombreExpositor" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                <input type="text" class="form-control" name="nombreExpositor"
                                    #nombreExpositor="ngModel" [(ngModel)]="expositorAdd.nombreExpositor">
                            </div>
                            <span class="help-block"><small>Ingresa el nombre del expositor</small></span>
                        </div>
                    </div>

                    <div class="form-group row">
                            <label for="apellidoExpositor" class="col-sm-3 control-label">Apellido</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                    <input type="text" class="form-control" name="fechaJornada"
                                        #apellidoExpositor="ngModel" [(ngModel)]="expositorAdd.apellidoExpositor">
                                </div>
                                <span class="help-block"><small>Ingresa el apellido del expositor</small></span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <label for="sexo" class="col-sm-3 control-label">Sexo</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="mdi mdi-gender-male-female"></i></div>
                                    <input type="text" class="form-control" name="sexo"
                                        #sexo="ngModel" [(ngModel)]="expositorAdd.sexo">
                                </div>
                                <span class="help-block"><small>Ingresa el sexo del expositor</small></span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <label for="correoExpositor" class="col-sm-3 control-label">Correo</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="mdi mdi-email"></i></div>
                                    <input type="email" class="form-control" name="correoExpositor"
                                        #correoExpositor="ngModel" [(ngModel)]="expositorAdd.correoExpositor">
                                </div>
                                <span class="help-block"><small>Ingresar el correo del expositor</small></span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <label for="empresa" class="col-sm-3 control-label">Empresa</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
                                    <input type="text" class="form-control" name="empresa"
                                        #empresa="ngModel" [(ngModel)]="expositorAdd.empresa">
                                </div>
                                <span class="help-block"><small>Ingresa la empresa del expositor</small></span>
                            </div>
                    </div>

                    <div class="form-group row">
                            <label for="imagen" class="col-sm-3 control-label">Foto</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="mdi mdi-file"></i></div>
                                    <angular-file-uploader #file1 [config]="afuConfig" (ApiResponse)="fotoUpload($event)">
                                    </angular-file-uploader>
                                </div>
                                <span class="help-block"><small>Ingresa la ubicación de esta jornada</small></span>
                            </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect" (click)="ocultarModal()" >Cancelar</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>