<body class="fix-header card-no-border fix-sidebar">

    <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear">
        <mat-step label="Step 1">
            <form #eventoPojoForm="ngForm" (ngSubmit)="guardarEvento(eventos)">
                <ng-template matStepLabel>Datos básicos</ng-template>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field hintLabel="Máximo 100 caracteres">
                                    <mat-label for="nombreEvento">Nombre del evento</mat-label>
                                    <input matInput #input1 maxlength="100" type="text" name="nombreEvento"
                                        #nombreEvento="ngModel" [(ngModel)]="eventos.nombreEvento" required>
                                    <mat-hint align="end">{{input1.value?.length || 0}}/100</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="mt-4">
                                    <mat-label for="tipoEvento_idtipoEvento">Tipo de evento</mat-label>
                                    <mat-select name="tipoEvento_idtipoEvento" #tipoEvento_idtipoEvento="ngModel"
                                        [(ngModel)]="eventos.tipoEvento_idtipoEvento">
                                        <mat-option *ngFor="let tipoE of tipoEvento" [value]="tipoE.idtipoEvento">
                                            {{tipoE.tipoEvento}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="mt-4">
                                    <mat-label for="ciudad_idCiudad">Ciudad</mat-label>
                                    <mat-select name="ciudad_idCiudad" #ciudad="ngModel"
                                        [(ngModel)]="eventos.ciudad_idCiudad">
                                        <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">
                                            {{ciudad.nombreCiudad}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="mt-4">
                                    <mat-label for="categoria_idCategoria">Categoría</mat-label>
                                    <mat-select name="categoria_idCategoria" #categoria_idCategoria="ngModel"
                                        [(ngModel)]="eventos.categoria_idCategoria">
                                        <mat-option *ngFor="let categoria of categorias"
                                            [value]="categoria.idCategoria">
                                            {{categoria.nombreCategoria}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <mat-form-field class="mt-2" hintLabel="Máximo 250 caracteres">
                                    <mat-label for="detalles">Descripción</mat-label>
                                    <textarea matInput #input4 maxlength="250" type="text" name="detalles"
                                        #detalles="ngModel" [(ngModel)]="eventos.detalles"></textarea>
                                    <mat-hint align="end">{{input4.value?.length || 0}}/250</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field hintLabel="Máximo 45 caracteres">
                                    <mat-label for="direccion">Dirección</mat-label>
                                    <input matInput #input2 maxlength="45" type="text" name="direccion"
                                        #direccion="ngModel" [(ngModel)]="eventos.direccion">
                                    <mat-hint align="end">{{input2.value?.length || 0}}/45</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="mt-4" hintLabel="Máximo 45 caracteres">
                                    <mat-label for="ubicacion">Dependencia</mat-label>
                                    <input matInput #input3 maxlength="45" type="text" name="ubicacion"
                                        #ubicacion="ngModel" [(ngModel)]="eventos.ubicacion">
                                    <mat-hint align="end">{{input3.value?.length || 0}}/45</mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <mat-form-field class="mt-4">
                                    <mat-label for="capacidad">Cupos</mat-label>
                                    <input matInput type="number" name="capacidad" #capacidad="ngModel"
                                        [(ngModel)]="eventos.capacidad">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <small class="mt-4">Portada del evento</small>
                                <div class="mt-2 mb-2" *ngIf="eventos.imagen">
                                    <img src="{{url + 'image/' + eventos.imagen}}" class="img-fluid"
                                        alt="Responsive image">
                                </div>
                                <angular-file-uploader #file1 [config]="afuConfig" (ApiResponse)="imagenUpload($event)">
                                </angular-file-uploader>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- div para los botones -->
                <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button mat-button matStepperNext class="btn btn-primary btn-block"
                            type="button">Siguiente</button>
                    </div>
                </div>
            </form>


        </mat-step>

        <mat-step label="Step 2">
            <ng-template matStepperIcon="done" matStepLabel>Jornadas</ng-template>

            <app-tabla-jornada></app-tabla-jornada>

            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block" type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 3">
            <ng-template matStepperIcon="done" matStepLabel>Expositores</ng-template>

            <app-tabla-expositor></app-tabla-expositor>

            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block" type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 4">
            <ng-template matStepperIcon="done" matStepLabel>Actividades</ng-template>

            <app-tabla-actividad></app-tabla-actividad>

            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block" type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 5">
            <ng-template matStepperIcon="done" matStepLabel>Colaboradores</ng-template>

            <app-tabla-colaborador></app-tabla-colaborador>

            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block" type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 6">
            <ng-template matStepperIcon="done" matStepLabel>Materiales</ng-template>

            <app-tabla-material></app-tabla-material>

            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block" type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 7">
            <ng-template matStepLabel>Publicar</ng-template>

            <div>
                <h2 class="text-center">Modificar el estado del evento</h2>
                <hr>

                <div class="col-12">
                    <div class="row">
                        <mat-form-field>
                            <mat-label for="visibilidad">Visibilidad</mat-label>
                            <mat-select name="visibilidad" #visibilidad="ngModel" [(ngModel)]="eventos.visibilidad">
                                <mat-option [value]='0'>Ocultar</mat-option>
                                <mat-option [value]='1'>Publicar</mat-option>
                            </mat-select>
                            <mat-hint>Independiente de la opción seleccionada, usted puede modificar este evento las
                                veces que sean necesarias.</mat-hint>
                        </mat-form-field>
                        <button type="button" class="m-t-5 btn btn-secondary btn-circle" data-toggle="popover"
                            data-placement="top"
                            data-content="El evento no se mostrará en el inicio hasta que seleccione la opción 'Publicar'">
                            <small id="small-btn">?</small>
                        </button>
                    </div>
                </div>
                <br>

                <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                        <button mat-button matStepperPrevious class="btn btn-primary btn-block" type="button">Anterior</button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-success btn-block" (click)="guardarEvento(eventoPojoForm)"
                            type="submit">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</body>
