<body class="fix-header card-no-border fix-sidebar">
    <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear">
        <mat-step label="Step 1">
            <form #eventoPojoForm="ngForm" (ngSubmit)="guardarEvento(eventos)">
                <ng-template matStepLabel>Datos básicos</ng-template>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field hintLabel="Máximo 100 caracteres">
                            <mat-label for="nombreEvento">Nombre del evento</mat-label>
                            <input matInput #input1 maxlength="100" type="text" name="nombreEvento"
                                #nombreEvento="ngModel" [(ngModel)]="eventos.nombreEvento" required>
                            <mat-hint align="end">{{input1.value?.length || 0}}/100</mat-hint>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <mat-form-field hintLabel="Máximo 45 caracteres">
                            <mat-label for="direccion">Dirección</mat-label>
                            <input matInput #input2 maxlength="45" type="text" name="direccion" #direccion="ngModel"
                                [(ngModel)]="eventos.direccion">
                            <mat-hint align="end">{{input2.value?.length || 0}}/45</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="mt-4">
                            <mat-label for="tipoEvento_idtipoEvento">Tipo de evento</mat-label>
                            <mat-select name="tipoEvento_idtipoEvento" #tipoEvento_idtipoEvento="ngModel"
                                [(ngModel)]="eventos.tipoEvento_idtipoEvento">
                                <mat-option *ngFor="let tipoE of tipoEvento" [value]="tipoE.idtipoEvento">
                                    {{tipoE.tipoEvento}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="mt-4" hintLabel="Máximo 45 caracteres">
                            <mat-label for="ubicacion">Dependencia</mat-label>
                            <input matInput #input3 maxlength="45" type="text" name="ubicacion" #ubicacion="ngModel"
                                [(ngModel)]="eventos.ubicacion">
                            <mat-hint align="end">{{input3.value?.length || 0}}/45</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="mt-4">
                            <mat-label for="ciudad_idCiudad">Ciudad</mat-label>
                            <mat-select name="ciudad_idCiudad" #ciudad="ngModel" [(ngModel)]="eventos.ciudad_idCiudad">
                                <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad.idCiudad">
                                    {{ciudad.nombreCiudad}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="mt-4">
                            <mat-label for="capacidad">Cupos</mat-label>
                            <input matInput type="number" name="capacidad" #capacidad="ngModel"
                                [(ngModel)]="eventos.capacidad">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="mt-4">
                            <mat-label for="categoria_idCategoria">Categoría</mat-label>
                            <mat-select name="categoria_idCategoria" #categoria_idCategoria="ngModel"
                                [(ngModel)]="eventos.categoria_idCategoria">
                                <mat-option *ngFor="let categoria of categorias" [value]="categoria.idCategoria">
                                    {{categoria.nombreCategoria}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-sm-12">
                        <small class="mt-4">Portada del evento</small>
                        <angular-file-uploader #file1 [config]="afuConfig" (ApiResponse)="imagenUpload($event)">
                        </angular-file-uploader>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <mat-form-field class="mt-2" hintLabel="Máximo 250 caracteres">
                            <mat-label for="detalles">Descripción</mat-label>
                            <textarea matInput #input4 maxlength="250" type="text" name="detalles" #detalles="ngModel"
                                [(ngModel)]="eventos.detalles"></textarea>
                            <mat-hint align="end">{{input4.value?.length || 0}}/250</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <!-- div para los botones -->
                <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button mat-button matStepperNext class="btn btn-primary btn-block"
                            type="button">Siguiente</button>
                    </div>
                </div>
            </form>


        </mat-step>

        <mat-step label="Step 2">
            <ng-template matStepperIcon="done" matStepLabel>Materiales</ng-template>

            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" (click)="agregarMaterialModal()">
                    <i class="mdi mdi-plus"></i> Agregar material
                </button>
            </div>

            <!-- Tabla para visualizar materiales -->
            <div class="col-md-12">
                <table class="table info-table mt-3">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Archivo</th>
                    </thead>
                    <tbody *ngFor="let m of material ; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{m.nombreMaterial}} </td>
                        <td> {{m.archivo}} </td>
                    </tbody>
                </table>
            </div>

            <!-- div para los botones -->
            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block"
                        type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 3">
            <ng-template matStepperIcon="done" matStepLabel>Colaboradores</ng-template>

            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" (click)="agregarColaboradorModal()">
                    <i class="mdi mdi-plus"></i> Agregar colaborador
                </button>
            </div>

            <!-- Tabla para visualizar colaboradores -->
            <div class="col-md-12">
                <table class="table info-table mt-3">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Representante</th>
                        <th>Teléfono</th>
                        <th>Correo</th>
                        <th>Sitio web</th>
                        <th>Logo</th>
                    </thead>
                    <tbody *ngFor="let colab of colaborador ; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{colab.nombreColaborador}} </td>
                        <td> {{colab.nombreRepresentante}} </td>
                        <td> {{colab.telefonoColaborador}} </td>
                        <td> {{colab.correoColaborador}} </td>
                        <td> {{colab.sitioWeb}} </td>
                        <td> {{colab.logo}} </td>
                    </tbody>
                </table>
            </div>

            <!-- div para los botones -->
            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block"
                        type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 4">
            <ng-template matStepperIcon="done" matStepLabel>Jornadas</ng-template>

            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" (click)="agregarJornadaModal()">
                    <i class="mdi mdi-plus"></i> Agregar jornada
                </button>
            </div>

            <!-- Tabla para visualizar la jornada -->
            <div class="col-md-12">
                <table class="table info-table mt-3">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Hora inicio</th>
                        <th>Hora fin</th>
                        <th>Ubicación</th>
                        <th>Descripcion</th>
                    </thead>
                    <tbody *ngFor="let j of jornada ; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{j.nombreJornada}} </td>
                        <td> {{j.fechaJornada}} </td>
                        <td> {{j.horaInicioJornada}} </td>
                        <td> {{j.horaFinJornada}} </td>
                        <td> {{j.ubicacionJornada}} </td>
                        <td> {{j.descripcionJornada}} </td>
                    </tbody>
                </table>
            </div>

            <!-- div para los botones -->
            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block"
                        type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 5">
            <ng-template matStepperIcon="done" matStepLabel>Expositores</ng-template>

            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" (click)="agregarExpositorModal()">
                    <i class="mdi mdi-plus"></i> Agregar expositor
                </button>
            </div>

            <!-- Tabla para visualizar los expositores -->
            <div class="col-md-12">
                <table class="table info-table mt-3">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Empresa</th>
                        <th>Foto</th>
                    </thead>
                    <tbody *ngFor="let exp of expositor ; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{exp.nombreExpositor}} </td>
                        <td> {{exp.apellidoExpositor}} </td>
                        <td> {{exp.correoExpositor}} </td>
                        <td> {{exp.empresa}} </td>
                    </tbody>
                </table>
            </div>

            <!-- div para los botones -->
            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block"
                        type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 6">

            <ng-template matStepperIcon="done" matStepLabel>Actividades</ng-template>

            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" (click)="agregarActividadModal()">
                    <i class="mdi mdi-plus"></i> Agregar actividad
                </button>
            </div>

            <!-- Tabla para visualizar los actividades -->
            <div class="col-md-12">
                <table class="table info-table mt-3">
                    <thead>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Hora de inicio</th>
                        <th>Hora de término</th>
                        <th>Ubicación</th>
                        <th>Descripción</th>
                    </thead>
                    <tbody *ngFor="let act of actividad; let i = index">
                        <td> {{i+1}} </td>
                        <td> {{act.nombreActividad}} </td>
                        <td> {{act.horaInicioActividad}} </td>
                        <td> {{act.horaFinActividad}} </td>
                        <td> {{act.ubicacionActividad}} </td>
                        <td> {{act.descripcionActividad}} </td>
                    </tbody>
                </table>
            </div>

            <!-- div para los botones -->
            <div class="row mt-4">
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperPrevious class="btn btn-primary btn-block"
                        type="button">Anterior</button>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button mat-button matStepperNext class="btn btn-primary btn-block" type="button">Siguiente</button>
                </div>
            </div>
        </mat-step>

        <mat-step label="Step 7">
            <ng-template matStepLabel>Publicar</ng-template>

            <div>
                <h4>Modificar el estado del evento</h4>
                <h5>Si quieres guardar los datos que has ingresado pero no quieres que se publique el evneto selecciona
                    la opción <strong>No visible</strong> Pero si quieres guardar los cambios y publicar el evento
                    selecciona la opción<strong>Visible</strong></h5>

                <mat-form-field>
                    <mat-label for="visibilidad">Visibilidad</mat-label>
                    <mat-select name="visibilidad" #visibilidad="ngModel" [(ngModel)]="eventos.visibilidad">
                        <mat-option [value]='0'>
                            No visible
                        </mat-option>

                        <mat-option [value]='1'>
                            Visible
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>

                <!-- div para los botones -->
                <div class="row mt-4">
                    <div class="col-md-6 col-sm-12">
                        <button mat-button matStepperPrevious class="btn btn-primary btn-block"
                            type="button">Anterior</button>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <button class="btn btn-success btn-block" (click)="guardarEvento(eventoPojoForm)" type="submit">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

</body>

<!-- modales -->
<div *ngIf="contModal == 1">
    <app-modal-jornada-add></app-modal-jornada-add>
</div>

<div *ngIf="contModal == 2">
    <app-modal-expositor-add></app-modal-expositor-add>
</div>

<div *ngIf="contModal == 3">
    <app-modal-actividad-add></app-modal-actividad-add>
</div>

<div *ngIf="contModal == 4">
    <app-modal-material-add></app-modal-material-add>
</div>

<div *ngIf="contModal == 5">
    <app-modal-colaborador-add></app-modal-colaborador-add>
</div>