.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 100%;
}

mat-form-field {
    width: 300px;
    font-size: 14pt;
}

small {
    font-size: 11pt;
}