<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img *ngIf="!identity.avatar" src="../../../assets/images/user.png" alt="user"
                            class="profile-pic" />
                        <img *ngIf="identity && identity.avatar" src="{{url + 'user/avatar/' + identity.avatar}}"
                            class="profile-pic">
                        <span class="hide-menu"> {{ identity.nombreUsuario + ' ' + identity.apellidoUsuario }} </span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li><a class="pointer" routerLinkActive="active" [routerLink]="['/editLogin']">
                            Modificar perfil</a></li>

                    </ul>
                    <ul aria-expanded="false" class="collapse">
                        <li><a class="pointer" (click)="userService.logout()">
                            <i class="fa fa-power-off"></i> Cerrar sesión</a></li>
                    </ul>
                </li>

                <li routerLink="/inicio">
                    <a class="waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-home"></i><span class="hide-menu">Inicio</span>
                    </a>
                </li>

                <!-- Opción de eventos -->
                <li>
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-view-grid"></i><span class="hide-menu"> Eventos</span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li> <a routerLinkActive="active" routerLink="/inicio"> Ver eventos </a> </li>
                        <li> <a routerLinkActive="active" routerLink="/eventosInscritos"> Eventos inscritos </a> </li>
                        <li> <a routerLinkActive="active" routerLink="/adminEventos"> Administrar eventos </a> </li>
                        <li *ngIf="idPerfil == 3 || idPerfil == 5"> <a routerLinkActive="active" routerLink="/crearEvento"> Crear evento
                            </a> </li>
                    </ul>
                </li>

                <!-- Opción de generar utilidades -->
                <li *ngIf="idPerfil == 4 || idPerfil == 5 || idPerfil == 6">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-pencil-box-outline"></i><span class="hide-menu"> Utilidades</span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li> <a routerLinkActive="active" id="diploma" routerLink="/generarUtilidades"> Generar utilidades</a> </li>
                    </ul>
                </li>

                <!-- Opción de Unidades -->
                <li *ngIf="idPerfil == 1">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-city"></i><span class="hide-menu"> Unidades</span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li> <a routerLinkActive="active" routerLink="/verUnidades"> Ver unidades </a> </li>
                        <li> <a routerLinkActive="active" routerLink="/crearUnidad"> Crear unidad </a> </li>
                    </ul>
                </li>

                <!-- Opción de Sub-Unidades -->
                <li *ngIf="idPerfil == 3">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-city"></i><span class="hide-menu"> Sub unidades</span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li> <a routerLinkActive="active" routerLink="/verUnidades"> Ver sub unidades </a> </li>
                        <li> <a routerLinkActive="active" routerLink="/crearUnidad"> Crear sub unidad </a> </li>
                    </ul>
                </li>

                <!-- Opción de Reportes -->
                <li *ngIf="idPerfil == 1 || idPerfil == 3">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-file-document"></i><span class="hide-menu"> Reportes</span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li> <a routerLinkActive="active" routerLink="/reportes"> Reportes </a> </li>
                    </ul>
                </li>

                <!-- Opción de comisión -->
                <li *ngIf="idPerfil == 4 || idPerfil == 5">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i><span class="hide-menu"> Comisiones</span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <li> <a routerLinkActive="active" routerLink="/verComisiones"> Ver comisiones </a> </li>
                        <li> <a routerLinkActive="active" routerLink="/crearComision"> Crear comisión </a> </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>