<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

  <app-header></app-header>

  <app-sidebar></app-sidebar>

  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">

      <!-- 
      <app-inicio-encargado></app-inicio-encargado>
      -->

      <!-- 
      <app-eventos-detalles></app-eventos-detalles>
      -->
      
      <app-eventos-editar></app-eventos-editar>
      
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- Acá utilizaremos el router-outlet para manejar las rutas-->
      <!-- ============================================================== -->
      
      <!-- <router-outlet></router-outlet> -->
      
      <!-- <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              Aquí debería haber algo importante.
            </div>
          </div>
        </div>
      </div>
      -->
      <!-- ============================================================== -->
      <!-- End Page Content -->
      <!-- ============================================================== -->

    </div>
    <!-- ============================================================== -->
    <!-- END Container fluid  -->
    <!-- ============================================================== -->
    <app-footer></app-footer>
  </div>

