<body class="fix-header card-no-border fix-sidebar">
  <div class="row el-element-overlay">
    <div class="col-md-12 mt-2 mb-2 ml-2 mr-2">
      <h1 class="text-center text-black-50"> Comisiones </h1>
      <hr>
      <p class="ml-4">Seleccione su evento correspondiente para visualizar la comisión</p>

      <!-- buscador de unidades -->
      <div class="col-lg-12 col-md-12 col-xs-12 m-b-15">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar comision por nombre del evento">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button"><i class="fa fa-search"></i> Buscar</button>
          </span>
        </div>
      </div>

      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="table-responsive">
          <table id="table-sort" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="idEvento">
              <th id="table-sort-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Número</th>
              <td id="table-sort-cell" mat-cell *matCellDef="let eventos"> {{eventos.idEvento}} </td>
            </ng-container>

            <ng-container matColumnDef="nombreEvento">
              <th id="table-sort-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Nombre evento</th>
              <td id="table-sort-cell" mat-cell *matCellDef="let eventos"> {{eventos.nombreEvento}} </td>
            </ng-container>

            <ng-container matColumnDef="button">
              <th id="table-sort-cell" mat-header-cell *matHeaderCellDef mat-sort-header> </th>
              <td id="table-sort-cell" mat-cell *matCellDef="let eventos">
                <button class="btn btn-block btn-outline-info waves-effect waves-light"
                  (click)="eventosDetalles(eventos.idEvento)" type="button">ver detalles
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <!-- paginador -->
          <mat-paginator [length]="cantEventos" [pageSize]="1" [pageSizeOptions]="[5,10,15,25,50]"></mat-paginator>

        </div>
      </div>

    </div>
  </div>
</body>