<!-- Foto del evento + información básica -->
<div class="row">
  <div class="col-md-12 col-xs-12 col-md-12">
    <!-- foto del evento -->
    <div class="card">
      <img class="image-evento-detalle" *ngIf="!evento.imagen" src="../../../assets/images/socialbg.jpg"/>
      <img class="image-evento-detalle" *ngIf="evento.imagen" src="{{url + 'image/' + evento.imagen}}"/>
      <div class="card-img-overlay card-inverse social-profile flex">
        <div class="align-self-center m-t-40">
          <h1 class="card-title display-4"> {{evento.nombreEvento}} </h1> <!-- nombre del evento -->
          <hr>
          <h2 class="card-subtitle"><i class="fa fa-calendar"></i> {{jornada.fechaJornada}} </h2> <!-- fecha evento -->
          <h2 class="card-subtitle"><i class="mdi mdi-home-map-marker"></i> {{evento.ubicacion}} </h2>
          <!-- ubicación del evento-->
          <h2 class="card-subtitle"><i class="mdi mdi-map-marker"></i> {{evento.direccion}} </h2>
          <!-- dirección del evento -->
          <h2 class="card-subtitle"><i class="fa fa-users"></i> {{evento.capacidad}} </h2> <!-- cupos del evento -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Botones interactivos del evento -->
<div class="row">
  <!-- botones del evento -->
  <div class="col-md-8">
    <button class="btn btn-facebook btn-circle waves-effect waves-light m-r-5" type="button"> <i
        class="fa fa-facebook"></i></button>
    <button class="btn btn-twitter btn-circle waves-effect waves-light m-r-5" type="button"> <i
        class="fa fa-twitter"></i> </button>
    <button class="btn btn-googleplus waves-effect btn-circle waves-light" type="button"> <i
        class="fa fa-google-plus"></i> </button>
  </div>

  <div class="col-md-4">
    <button type="button" (click)="participarEvento()" class="btn waves-effect btn-block waves-light btn-rounded btn-outline-primary"><i
        class="mdi mdi-plus"></i> Participar</button>
  </div>

</div>

<!-- Cartas con expositores del evento -->
<div class="row el-element-overlay">
  <div class="col-md-12 m-t-20">
    <div class="card">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">Expositores</h1>
      </div>
    </div>
  </div>
  <!-- expositores del evento -->
  <div class="col-lg-4 col-xlg-3 col-md-3">
    <div class="card">
      <div class="el-card-item">
        <div class="el-card-avatar el-overlay-1">
          <!-- expositor.foto -->
          <img *ngIf="!expositor.foto" src="../../../assets/images/user.png" alt="Card image" />
          <img *ngIf="expositor.foto" src="{{url + 'image/' + expositor.foto}}" alt="user" />

          <div class="el-overlay">
            <!-- overlay son efectos al pasar sobre la foto -->
            <ul class="el-info">
                <li>
                    <a *ngIf="!expositor.foto" class="btn default btn-outline image-popup-vertical-fit"
                        href="../../../assets/images/user.png">
                        <i class="icon-magnifier"></i>
                    </a>
                    <a *ngIf="expositor.foto" class="btn default btn-outline image-popup-vertical-fit"
                        href="{{url + 'image/' + expositor.foto}}">
                        <i class="icon-magnifier"></i>
                    </a>
                </li>
                <!-- este li contiene el link -->
                <!-- expositor.empresa -->
            </ul>
          </div>

        </div>
        <div class="el-card-content">
            <h3 class="box-tittle"> {{expositor.empresa}} </h3>
            <h3 class="box-tittle"> {{expositor.nombreExpositor + ' ' + expositor.apellidoExpositor}} </h3> <!-- expositor.nombre expositor.apellido -->
            <h6><i class="fa fa-envelope"></i> {{expositor.correoExpositor}}  </h6> <!-- expositor.correo -->
            <br>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Jornadas del evento -->
<div class="row">
  <!-- jornadas del evento -->
  <div class="col-md-12 m-t-20">
    <div class="card">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">Jornadas</h1>
      </div>
    </div>
  </div>

  <div class="card-body">  
                        
      <div class="d-flex flex-row">
          <div class="p-10 bg-inverse">
              <h3 class="text-white box m-b-0"><i class="mdi mdi-clipboard-text"></i></h3>
          </div>
          <div class="align-self-center m-l-20">
              <h3 class="m-b-0 text-info"> {{jornada.nombreJornada}} </h3> <!-- jornada.nombre -->
              <h5 class="text-muted m-b-0">nombre de la jornada</h5>
          </div>
      </div>
      <hr>

      <div class="d-flex flex-row">
              <div class="p-10 bg-inverse">
                  <h3 class="text-white box m-b-0"><i class="mdi mdi-calendar-check"></i></h3>
              </div>
              <div class="align-self-center m-l-20">
                  <h3 class="m-b-0 text-info"> {{jornada.fechaJornada}} </h3> <!-- jornada.fecha -->
                  <h5 class="text-muted m-b-0">fecha de la jornada</h5>
              </div>
      </div>
      <hr>

      <div class="d-flex flex-row">
              <div class="p-10 bg-inverse">
                  <h3 class="text-white box m-b-0"><i class="mdi mdi-clock"></i></h3>
              </div>
              <div class="align-self-center m-l-20">
                  <h3 class="m-b-0 text-info"> {{jornada.horaInicioJornada}} </h3>
                  <h5 class="text-muted m-b-0">hora inicio de la jornada</h5>
              </div>
      </div>
      <hr>

      <div class="d-flex flex-row">
              <div class="p-10 bg-inverse">
                  <h3 class="text-white box m-b-0"><i class="mdi mdi-clock"></i></h3>
              </div>
              <div class="align-self-center m-l-20">
                  <h3 class="m-b-0 text-info"> {{jornada.horaFinJornada}} </h3>
                  <h5 class="text-muted m-b-0">hora fin de la jornada</h5>
              </div>
      </div>
      <hr>

      <div class="d-flex flex-row">
              <div class="p-10 bg-inverse">
                  <h3 class="text-white box m-b-0"><i class="mdi mdi-map-marker-radius"></i></h3>
              </div>
              <div class="align-self-center m-l-20">
                  <h3 class="m-b-0 text-info"> {{jornada.ubicacionJornada}} </h3>
                  <h5 class="text-muted m-b-0">ubicación de la jornada</h5>
              </div>
      </div>
      <hr>

      <div class="d-flex flex-row">
              <div class="p-10 bg-inverse">
                  <h3 class="text-white box m-b-0"><i class="mdi mdi-lead-pencil"></i></h3>
              </div>
              <div class="align-self-center m-l-20">
                  <h3 class="m-b-0 text-info"> {{jornada.descripcionJornada}} </h3>
                  <h5 class="text-muted m-b-0">descripción de la jornada</h5>
              </div>
      </div>
      <hr>

  </div>
</div>

<!-- Actividades del evento -->
<div class="row">
  <div class="col-md-12 m-t-20">
    <div class="card">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">Actividades</h1>
      </div>
    </div>
  </div>

  <div class="card-body">

    <div class="d-flex flex-row">
      <div class="p-10 bg-inverse">
        <h3 class="text-white box m-b-0"><i class="mdi mdi-clipboard-text"></i></h3>
      </div>
      <div class="align-self-center m-l-20">
        <h3 class="m-b-0 text-info"> Acreditación </h3> <!--  actividad.nombreActividad -->
        <h5 class="text-muted m-b-0">nombre de la actividad</h5>
      </div>
    </div>
    <hr>

    <div class="d-flex flex-row">
      <div class="p-10 bg-inverse">
        <h3 class="text-white box m-b-0"><i class="mdi mdi-clock"></i></h3>
      </div>
      <div class="align-self-center m-l-20">
        <h3 class="m-b-0 text-info"> 09:00 </h3>
        <h5 class="text-muted m-b-0">hora inicio de la actividad</h5>
      </div>
    </div>
    <hr>

    <div class="d-flex flex-row">
      <div class="p-10 bg-inverse">
        <h3 class="text-white box m-b-0"><i class="mdi mdi-clock"></i></h3>
      </div>
      <div class="align-self-center m-l-20">
        <h3 class="m-b-0 text-info"> 10:30 </h3>
        <h5 class="text-muted m-b-0">hora fin de la actividad</h5>
      </div>
    </div>
    <hr>

    <div class="d-flex flex-row">
      <div class="p-10 bg-inverse">
        <h3 class="text-white box m-b-0"><i class="mdi mdi-map-marker-radius"></i></h3>
      </div>
      <div class="align-self-center m-l-20">
        <h3 class="m-b-0 text-info"> Entrada aula magna </h3>
        <h5 class="text-muted m-b-0">ubicación de la actividad</h5>
      </div>
    </div>
    <hr>

    <div class="d-flex flex-row">
      <div class="p-10 bg-inverse">
        <h3 class="text-white box m-b-0"><i class="mdi mdi-lead-pencil"></i></h3>
      </div>
      <div class="align-self-center m-l-20">
        <h3 class="m-b-0 text-info"> Acreditación del evento </h3>
        <h5 class="text-muted m-b-0">descripción de la actividad</h5>
      </div>
    </div>
    <hr>

  </div>

</div>

<!-- Colaboradores del evento -->
<div class="row el-element-overlay">

  <div class="col-md-12 m-t-20">
    <div class="card">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">Colaboradores</h1>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-xlg-3 col-md-3">
    <!-- agregar a este div un ngFor por cada expositor -->
    <div class="card">
        <div class="el-card-item">
            <div class="el-card-avatar el-overlay-1">
                <!-- foto colaborador -->
                <img *ngIf="!colaborador.logo" src="../../../assets/images/user.png" alt="Card image" />
                <img *ngIf="colaborador.logo" src="{{url + 'image/' + colaborador.logo}}" alt="user" />

                <div class="el-overlay">
                    <!-- overlay son efectos al pasar sobre la foto -->
                    <ul class="el-info">
                        <li>
                            <a *ngIf="!colaborador.logo" class="btn default btn-outline image-popup-vertical-fit"
                                href="../../../assets/images/user.png">
                                <i class="icon-magnifier"></i>
                            </a>
                            <a *ngIf="colaborador.logo" class="btn default btn-outline image-popup-vertical-fit"
                                href="{{url + 'image/' + colaborador.logo}}">
                                <i class="icon-magnifier"></i>
                            </a>
                        </li>
                        <!-- este li contiene el link -->
                        <!-- expositor.empresa -->
                    </ul>
                </div>
            </div>
            <div class="el-card-content">
                <h2 class="box-tittle"><strong> {{ colaborador.nombreColaborador}} </strong> </h2> <!-- colaborador -->
                <h3 class="box-tittle"> {{ colaborador.nombreRepresentante }} </h3> <!-- colaborador -->
                <h6><i class="fa fa-envelope"></i> {{colaborador.correoColaborador}} </h6> <!-- expositor.correo -->
                <br>
            </div>
        </div>
    </div>
  </div>



</div>

<!-- Material para descargar -->
<div class="row">
  <div class="col-md-12 m-t-20">
    <div class="card">
      <div class="box bg-info text-center">
        <h1 class="font-light text-white">Materiales</h1>
      </div>
    </div>
  </div>


</div>