<body class="fix-header card-no-border fix-sidebar">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">

        <form class="form-horizontal" #utilidadesForm="ngForm" (ngSubmit)="cargarContenido(utilidadesForm)">
          <h3 class="text-center text-black-50 mt-2">Seleccione lo requerido</h3>
          <hr>

          <!-- Seleccionar el evento en el cual se quiere crear la utilidad -->
          <div class="form-group row">
                <label class="col-sm-2">Seleccionar evento:</label>
                <div class="col-sm-9">
                    <ngx-select-dropdown tabindex="0" [config]="configEvento" [options]="optionEvento"
                        [multiple]="false" name="evento_idEvento" #evento_idEvento="ngModel"
                        [(ngModel)]="eventos" required></ngx-select-dropdown>
                </div>
                <div class="col-sm-1 text-left">
                    <button type="button" class="btn btn-secondary btn-circle" data-toggle="popover"
                        data-placement="top"
                        data-content="Selecciona el evento al que quieres agregar integrantes en la comisión">
                        <small id="small-btn">?</small>
                    </button>
                </div>
            </div>

          <div class="form-group row">
            <label class="col-sm-2 mt-3">Utilidad a generar:</label>
            <mat-form-field class="col-sm-9">
              <mat-select [(value)]="selectUtilidad" matNativeControl required>
                <mat-option disabled>Seleccione un tipo de utilidad para generar</mat-option>
                <mat-option value="diploma">Diploma</mat-option>
                <mat-option value="certificado">Certificado</mat-option>
                <mat-option value="credencial">Credencial</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group row m-b-0">
            <div class="offset-sm-3 col-sm-12">
              <button type="submit" [disabled]="utilidadesForm.invalid"
                class="btn btn-block btn-success waves-effect waves-light">Crear utilidades</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</body>