<div class="modal blur" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    [ngStyle]="{ display: modalService.oculto }">
    <div class="modal-dialog modal-lg" style="overflow-y: scroll">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-uppercase text-primary">Agregar expositor</h4>
                <button type="button" class="close" (click)="salirModal()">×</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal p-t-20" #agregarExpositorForm="ngForm"
                    (ngSubmit)="agregarExpositor(agregarExpositorForm)">

                    <div class="col-md-12 mr-2">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Nombre <span class="text-danger"> *</span></label>
                            <mat-form-field class="col-sm-9">
                                <input matInput #input1 type="text" name="nombreExpositor" #nombreExpositor="ngModel"
                                    [(ngModel)]="expositorAdd.nombreExpositor" maxlength="45" placeholder="Nombre"
                                    pattern="[A-zÀ-ú\s]+" required>
                                <mat-hint align="start"><strong>Ingresa el nombre del expositor</strong> </mat-hint>
                                <mat-hint align="end">{{input1.value.length}} / 45</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Apellido Paterno</label>
                            <mat-form-field class="col-sm-9">
                                <input matInput #input2 type="text" name="apellidoExpositor"
                                    #apellidoExpositor="ngModel" [(ngModel)]="expositorAdd.apellidoExpositor"
                                    maxlength="45" placeholder="Apellido paterno" pattern="[A-zÀ-ú\s]+">
                                <mat-hint align="start"><strong>Ingresa el apellido paterno del expositor</strong>
                                </mat-hint>
                                <mat-hint align="end">{{input2.value.length}} / 45</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Apellido Materno</label>
                            <mat-form-field class="col-sm-9">
                                <input matInput #input3 type="text" name="apellido2Expositor"
                                    #apellido2Expositor="ngModel" [(ngModel)]="expositorAdd.apellido2Expositor"
                                    maxlength="45" placeholder="Apellido materno" pattern="[A-zÀ-ú\s]+">
                                <mat-hint align="start"><strong>Ingresa el apellido materno del expositor</strong>
                                </mat-hint>
                                <mat-hint align="end">{{input3.value.length}} / 45</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Sexo</label>
                            <div class="col-sm-9">
                                <mat-radio-group name="sexo" #sexo="ngModel" [(ngModel)]="expositorAdd.sexo"
                                    arial-label="Seleccione una opción">
                                    <mat-radio-button value="Mujer"> Mujer</mat-radio-button> &nbsp;
                                    <mat-radio-button value="Hombre"> Hombre </mat-radio-button> &nbsp;
                                    <mat-radio-button value="Sinespecificar"> Sin especificar </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Correo</label>
                            <mat-form-field class="col-sm-9">
                                <input matInput #input5 type="text" name="correoExpositor" #correoExpositor="ngModel"
                                    [(ngModel)]="expositorAdd.correoExpositor" maxlength="45" placeholder="Correo"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <mat-hint align="start"><strong>Ingresa el correo del expositor</strong>
                                </mat-hint>
                                <mat-hint align="end">{{input5.value.length}} / 45</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Teléfono</label>
                            <mat-form-field class="col-sm-9">
                                <input matInput type="text" name="telefonoExpositor" #telefonoExpositor="ngModel"
                                    [(ngModel)]="expositorAdd.telefonoExpositor" maxlength="11" placeholder="Teléfono"
                                    pattern="^(?:9)[0-9]{8}">
                                <mat-hint align="start"><strong>Ingresa el teléfono del expositor ej 911223344
                                    </strong>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 control-label">Organización</label>
                            <mat-form-field class="col-sm-9">
                                <input matInput #input6 type="text" name="empresa" #empresa="ngModel"
                                    [(ngModel)]="expositorAdd.empresa" maxlength="45" placeholder="Organización">
                                <mat-hint align="start"><strong>Ingresa la organización del expositor</strong>
                                </mat-hint>
                                <mat-hint align="end">{{input6.value.length}} / 45</mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="form-group row">
                            <label for="imagen" class="col-sm-3 control-label">Foto</label>
                            <div class="col-sm-9">
                                <small class="mt-4">Vista previa</small>
                                <div class="mt-2 mb-2" *ngIf="expositorAdd.foto">
                                    <img src="{{ url + 'image/' + expositorAdd.foto}}" class="img-fluid">
                                </div>
                                <div class="input-group">
                                    <angular-file-uploader #file1 [config]="afuConfig"
                                        (ApiResponse)="fotoUpload($event)">
                                    </angular-file-uploader>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect"
                            (click)="salirModal()">Cancelar</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>