<body class="fix-header card-no-border fix-sidebar">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h1>Crear una nueva unidad</h1>
                <form class="form-horizontal p-t-20" #crearEventoForm="ngForm"
                    (ngSubmit)="guardarEvento(crearEventoForm)">

                    <!-- Nombre del evento-->
                    <div class="form-group row">
                        <label for="nombreEventoInterno" class="col-sm-3 control-label">Nombre evento</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
                                <input type="text" class="form-control" id="nombre" name="nombreEventoInterno" #nombreEventoInterno="ngModel" [(ngModel)]="evento.nombreEventoInterno">
                            </div>
                            <span class="help-block"><small>Este nombre puede ser modificado por el encargado</small></span>
                        </div>
                    </div>

                    <!-- Agregar el encargado de la unidad -->
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 control-label">Encargado</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="mdi mdi-account"></i></div>
                                <input type="email" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="evento.email">
                            </div>
                            <span class="help-block"><small>Ingresa el <strong>correo</strong> del encargado de esta
                                    unidad</small></span>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-12">
                            <button type="submit" class="btn btn-block btn-success waves-effect waves-light"
                                [disabled]="crearEventoForm.invalid">Crear</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>