<body class="fix-header card-no-border fix-sidebar">
  <div class="row el-element-overlay">
    <div class="col-md-12">
      <h2> Unidades </h2>

      <!-- buscador de unidades -->
      <div class="col-lg-12 col-md-12 col-xs-12 m-b-15">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar unidad por nombre">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button"><i class="fa fa-search"></i> Buscar</button>
          </span>
        </div>
      </div>

      <!-- tabla con las unidades -->
      <div class="col-md-12">
        <table class="table color-table info-table mt-3">
          <thead>
            <tr>
              <th class="text-center"> # </th>
              <th>Logo</th>
              <th>Nombre unidad</th>
              <th>Sede</th>
              <th>Encargado</th>
            </tr>
          </thead>
          <tbody *ngFor="let uni of unidades; let i = index">
            <tr>
              <td class="text-center"> {{i+1}} </td>
              <td>  <img class="imageLogo" src="{{url + 'logoImage/' + uni.unidad.logoUnidad}}" alt="Responsive image"> </td>
              <td> {{uni.unidad.nombreUnidad}} </td>
              <td> {{uni.unidad.sede}} </td>
              <td> {{uni.nombreUsuario + ' ' + uni.apellidoUsuario }} </td>
            </tr>
          </tbody>
        </table>

        <!-- pagination -->
        <ul class="pagination justify-content-center">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </ul>
      </div>


    </div>
  </div>
</body>