<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Programa</title>
</head>

<body>

    <button type="button" class="btn btn-primary" (click)="downloadPDF();">Generar PDF</button>

    <div id="pdf" class="content" #content>
        <img src="" alt="">
        <h2 style="text-align: center">{{evento.nombreEvento}}</h2>
        <div>
            Fecha:<span *ngFor="let jornada of arrJornadas; let i = index">
                        <span *ngIf="i!=0">-</span> {{jornada.fechaJornada}}
            </span>
        </div>
        <div>
            Ubicacion:<span>{{evento.ubicacion}}, {{evento.direccion}}, {{evento.ciudad.nombreCiudad}}</span>
        </div>
        <br>


        <table class="table">
            <thead>
                <tr>
                    <th scope="col-md-4">Hora</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let d of arrActividades">
                    <td>{{d.horaInicioActividad}} - {{d.horaFinActividad}}</td>
                    <td>
                        <p id="normal">{{d.descripcionActividad}}</p>
                    </td>
                </tr>
            </tbody>

        </table>

        <section style="text-align: center">
            Contacto: <span style="color: blue">seminarioicichillan@ubiobio.cl</span> </section>

    </div>

</body>

</html>