<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Programa</title>
</head>

<body>

    <div>
        Fecha:<span *ngFor="let jornada of arrJornadas; let i = index">
                <span *ngIf="i!=0">-</span> {{jornada.fechaJornada}}
        </span>
    </div>
    <div>
        Ubicacion: <span>como llamo el evento</span>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody *ngFor="let d of arrActividades">

                <tr>
                    <td>{{d.horaInicioActividad}} - {{d.horaFinActividad}}</td>
                    <td>
                        <p id="normal">{{d.descripcionActividad}}</p>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
    <section style="text-align: center">
        Contacto: <span style="color: blue">seminarioicichillan@ubiobio.cl</span> </section>

</body>

</html>