<div class="col-md-12">

  <form class="col-md-5" #eventoPojoForm="ngForm" (ngSubmit)="onSubmit(eventoPojoForm)">

    <div class="form-group">
      <label for="nombreEvento">Nombre</label>
      <input type="text" name="nombreEvento" class="form-control" #nombreEvento="ngModel" [(ngModel)]="eventoPojo.nombreEvento" required>
    </div>

    <div class="form-group">
      <label for="ubicacion">Ubicación</label>
      <input type="text" name="ubicacion" class="form-control" #ubicacion="ngModel" [(ngModel)]="eventoPojo.ubicacion" required>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección</label>
      <input type="text" name="direccion" class="form-control" #direccion="ngModel" [(ngModel)]="eventoPojo.direccion" required>
    </div>

    <div class="form-group">
      <label for="detalles">Detalles</label>
      <input type="text" name="detalles" class="form-control" #detalles="ngModel" [(ngModel)]="eventoPojo.detalles" required>
    </div>

    <div class="form-group">
      <label for="imagen">Imagen</label>
      <input type="text" name="imagen" class="form-control" #imagen="ngModel" [(ngModel)]="eventoPojo.imagen" required>
    </div>

    <div class="form-group">
      <label for="capacidad">Capacidad</label>
      <input type="number" name="capacidad" class="form-control" #capacidad="ngModel" [(ngModel)]="eventoPojo.capacidad" required>
    </div>

    <div class="form-group">
      <label for="nombreEventoInterno">Nombre evento interno</label>
      <input type="text" name="nombreEventoInterno" class="form-control" #nombreEventoInterno="ngModel" [(ngModel)]="eventoPojo.nombreEventoInterno" required>
    </div>

    <div class="form-group">
      <label for="idCiudad">Ciudad</label>
      <input type="number" name="idCiudad" class="form-control" #idCiudad="ngModel" [(ngModel)]="eventoPojo.ciudad_idCiudad" required>
    </div>



    <div class="form-group">
      <label for="nombreMaterial">Nombre material</label>
      <input type="text" name="nombreMaterial" class="form-control" #nombreMaterial="ngModel" [(ngModel)]="eventoPojo.nombreMaterial" required>
    </div>

    <div class="form-group">
      <label for="archivo">Archivo</label>
      <input type="text" name="archivo" class="form-control" #archivo="ngModel" [(ngModel)]="eventoPojo.archivo" required>
    </div>



    <div class="form-group">
      <label for="nombreColaborador">Nombre colaborador</label>
      <input type="text" name="nombreColaborador" class="form-control" #nombreColaborador="ngModel" [(ngModel)]="eventoPojo.nombreColaborador" required>
    </div>

    <div class="form-group">
      <label for="nombreRepresentante">Nombre representante</label>
      <input type="text" name="nombreRepresentante" class="form-control" #nombreRepresentante="ngModel" [(ngModel)]="eventoPojo.nombreRepresentante" required>
    </div>

    <div class="form-group">
      <label for="telefonoColaborador">Telefono</label>
      <input type="number" name="telefonoColaborador" class="form-control" #telefono="ngModel" [(ngModel)]="eventoPojo.telefonoColaborador" required>
    </div>

    <div class="form-group">
      <label for="correoColaborador">Correo</label>
      <input type="email" name="correoColaborador" class="form-control" #correoColaborador="ngModel" [(ngModel)]="eventoPojo.correoColaborador" required>
    </div>

    <div class="form-group">
      <label for="sitioWeb">Sitio web</label>
      <input type="text" name="sitioWeb" class="form-control" #sitioWeb="ngModel" [(ngModel)]="eventoPojo.sitioWeb" required>
    </div>

    <div class="form-group">
        <label for="logo">Logo</label>
        <input type="text" name="logo" class="form-control" #logo="ngModel" [(ngModel)]="eventoPojo.logo" required>
    </div>



    <div class="form-group">
      <label for="nombreJornada">Nombre jornada</label>
      <input type="text" name="nombreJornada" class="form-control" #nombreJornada="ngModel" [(ngModel)]="eventoPojo.nombreJornada" required>
    </div>

    <div class="form-group">
      <label for="fechaJornada">Fecha jornada</label>
      <input type="date" name="fechaJornada" class="form-control" #fechaJornada="ngModel" [(ngModel)]="eventoPojo.fechaJornada" required>
    </div>

    <div class="form-group">
      <label for="horaInicioJornada">Hora inicio</label>
      <input type="time" name="horaInicioJornada" class="form-control" #horaInicioJornada="ngModel" [(ngModel)]="eventoPojo.horaInicioJornada" required>
    </div>

    <div class="form-group">
      <label for="horaFinJornada">Hora fin</label>
      <input type="time" name="horaFinJornada" class="form-control" #horaFinJornada="ngModel" [(ngModel)]="eventoPojo.horaFinJornada" required>
    </div>

    <div class="form-group">
      <label for="ubicacionJornada">Ubicacion jornada</label>
      <input type="text" name="ubicacionJornada" class="form-control" #ubicacionJornada="ngModel" [(ngModel)]="eventoPojo.ubicacionJornada" required>
    </div>

    <div class="form-group">
      <label for="descripcionJornada">Descripción jornada</label>
      <input type="text" name="descripcionJornada" class="form-control" #descripcionJornada="ngModel" [(ngModel)]="eventoPojo.descripcionJornada" required>
    </div>


    <div class="form-group">
      <label for="nombreExpositor">Nombre expositor</label>
      <input type="text" name="nombreExpositor" class="form-control" #nombreExpositor="ngModel" [(ngModel)]="eventoPojo.nombreExpositor" required>
    </div>

    <div class="form-group">
      <label for="apellidoExpositor">Apellido expositor</label>
      <input type="text" name="apellidoExpositor" class="form-control" #apellidoExpositor="ngModel" [(ngModel)]="eventoPojo.apellidoExpositor" required>
    </div>

    <div class="form-group">
      <label for="sexo">Sexo</label>
      <input type="text" name="sexo" class="form-control" #sexo="ngModel" [(ngModel)]="eventoPojo.sexo" required>
    </div>

    <div class="form-group">
      <label for="correoExpositor">Correo</label>
      <input type="email" name="correoExpositor" class="form-control" #correoExpositor="ngModel" [(ngModel)]="eventoPojo.correoExpositor" required>
    </div>

    <div class="form-group">
      <label for="empresa">Empresa</label>
      <input type="text" name="empresa" class="form-control" #empresa="ngModel" [(ngModel)]="eventoPojo.empresa" required>
    </div>

    <div class="form-group">
        <label for="foto">Foto</label>
        <input type="text" name="foto" class="form-control" #foto="ngModel" [(ngModel)]="eventoPojo.foto" required>
    </div>

    

    <div class="form-group">
      <label for="nombreActividad">Nombre actividad</label>
      <input type="text" name="nombreActividad" class="form-control" #nombreActividad="ngModel" [(ngModel)]="eventoPojo.nombreActividad" required>
    </div>

    <div class="form-group">
      <label for="horaInicioActividad">Hora inicio</label>
      <input type="time" name="horaInicioActividad" class="form-control" #horaInicioActividad="ngModel" [(ngModel)]="eventoPojo.horaInicioActividad" required>
    </div>

    <div class="form-group">
      <label for="horaFinActividad">Hora fin</label>
      <input type="time" name="horaFinActividad" class="form-control" #horaFinActividad="ngModel" [(ngModel)]="eventoPojo.horaFinActividad" required>
    </div>

    <div class="form-group">
      <label for="ubicacionActividad">Ubicacion actividad</label>
      <input type="text" name="ubicacionActividad" class="form-control" #ubicacionActividad="ngModel" [(ngModel)]="eventoPojo.ubicacionActividad" required>
    </div>

    <div class="form-group">
      <label for="descripcionActividad">Descripción actividad</label>
      <input type="text" name="descripcionActividad" class="form-control" #descripcionActividad="ngModel" [(ngModel)]="eventoPojo.descripcionActividad" required>
    </div>

    <button type="submit" class="btn-block btn-primary">Enviar</button>

  </form>


</div>