<div class="footer-dark">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Concepción</h3>
                  <p>Avda. Collao 1202<br>Fono +56-413111200</p>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>Chillán</h3>
                  <p>Avda. Andrés Bello 720<br>Fono +56-422463000</p>
              </div>
              <div class="col-md-6 item text">
                  <h3>Universidad del Bío-Bío</h3>
                  <p>La Universidad del Bío-Bío, a partir de su naturaleza pública, responsable socialmente y estatal, tiene por misión, desde las Regiones del Biobío y Ñuble, aportar a la sociedad con la formación de personas integrales, a través
                      de una Educación Superior de excelencia.</p>
              </div>
          </div>
          <p class="copyright">Universidad del Bío-Bío © 2019</p>
      </div>
  </footer>
</div>