<body class="fix-header card-no-border fix-sidebar">

  <div class="container">

    <!-- Contenedor de los botones-->
    <div class="row mt-2">
      <!-- <div class="col-xl-12 main-title">
        <h4>Github: <a href="https://github.com/kevoj/angular-editor-fabric-js">angular-editor-fabric-js</a></h4>
      </div> -->
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-12 text-right">
            <button data-toggle="tooltip" data-placement="top" title="Exportar imagen" type="button"
              class="btn btn-primary" (click)="downloadPDF();">
              <i class="fa fa-download" aria-hidden="true"></i> Exportar a imagen</button>
            <!-- <button data-toggle="tooltip" data-placement="top" title="Exportar a formato SVG" type="button"
              class="btn btn-primary" (click)="rasterizeSVG();">
              <i class="fa fa-download" aria-hidden="true"></i> Exportar a SVG</button> -->
            <button data-toggle="tooltip" data-placement="top" title="Guardar en mis archivos" type="button"
              class="btn btn-primary" (click)="saveCanvasToJSON();">
              <i class="fa fa-save" aria-hidden="true"></i> Guardar local</button>
            <button data-toggle="tooltip" data-placement="top" title="Cargar de mis archivos" type="button"
              class="btn btn-primary" (click)="loadCanvasFromJSON();">
              <i class="fa fa-save" aria-hidden="true"></i> Cargar de mis archivos</button>
            <button data-toggle="tooltip" data-placement="top" title="Esto eliminará el diseño que llevas hasta ahora"
              type="button" class="btn btn-danger" (click)="confirmClear();">
              <i class="fa fa-ban" aria-hidden="true"></i> Limpiar diseño</button>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <!-- Contenedor con todo el contenido -->
    <div class="row">

      <!-- columna izquierda -->
      <div class="col-xl-3">

        <!-- Tarjeta con las dimensiones -->
        <div class="card">
          <div class="card-header">Dimensiones</div>
          <div class="card-body">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="size.width" (keyup)="changeSize()">
                <div class="input-group-append ml-2">
                  <span class="input-group-text"> Ancho </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="size.height" (keyup)="changeSize()">
                <div class="input-group-append ml-2">
                  <span class="input-group-text"> Altura </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Tarjeta para añadir texto -->
        <div class="card">
          <div class="card-header">Agregar texto</div>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" [(ngModel)]="textString">
              <div class="input-group-append">
                <span class="input-group-text">
                  <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Agregar texto"
                    class="btn btn-primary" (click)="addText()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <br />

        <!-- Tarjeta para añadir imágenes -->
        <div class="card">
          <div class="card-header">Agregar imágenes</div>
          <div class="card-body max-height">
            <img *ngIf="tipoUtilidad == 'diploma' " class="images-item" (click)="getImgPolaroid($event)"
              src="../../../../assets/images/diploma-institucional.jpg">

          </div>
        </div>

        <!-- Tarjeta para subir imágenes-->
        <div class="card">
          <div class="card-header">Subir imagen</div>
          <div class="card-body text-center">
            <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);">
            <input type="file" class="mb-2" (change)="readUrl($event);">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                  <i class="fa fa-times" aria-hidden="true"></i> Eliminar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Card para agregar figuras -->
        <div class="card">
          <!-- <div class="card-header">Agregar figura</div>
          <div class="card-body text-center max-height">
            <div class="btn-group btn-group-vertical" role="group" aria-label="...">
              <button type="button" class="btn btn-primary" (click)="addFigure('rectangle');">Rectángulo</button>
              <button type="button" class="btn btn-primary" (click)="addFigure('square');">Cuadrado</button>
              <button type="button" class="btn btn-primary" (click)="addFigure('triangle');">Triángulo</button>
              <button type="button" class="btn btn-primary" (click)="addFigure('circle');">Círculo</button>
            </div>
          </div> -->
          <div *ngIf="tipoUtilidad == 'credencial'">
            <div class="card-header">Comisión</div>
            <div class="card-body text-center max-height">
              <!-- listar acá los datos -->
              <div class="overflow-auto">
                <div class="table table-responsive table-borderless">
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let c of comision">
                        <td id="id-comision"> {{c.users.nombreUsuario + ' ' + c.users.apellidoUsuario }} </td>
                        <td> <button id="add-dato" class="btn btn-primary" (click)="addText2()"><i class="fa fa-plus"
                              aria-hidden="true"></i></button> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="tipoUtilidad == 'diploma'">
            <div class="card-header">Participantes, Expositores, Colaboradores</div>
            <div class="card-body text-center max-height">
              <!-- listar acá los datos -->
              <div class="overflow-auto">
                <div class="table table-responsive table-borderless">
                  <h4 class="text-left">Participantes</h4>
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let p of participantes">
                        <td id="id-comision"> {{p.users.nombreUsuario + ' ' + p.users.apellidoUsuario}} </td>
                        <td> <button id="add-dato" class="btn btn-primary" (click)="addText2()"><i class="fa fa-plus"
                              aria-hidden="true"></i></button> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="overflow-auto">
                <div class="table table-responsive table-borderless">
                  <h4 class="text-left">Expositores</h4>
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let e of expositores">
                        <td id="id-comision">
                          {{e.nombreExpositor + ' ' + e.apellidoExpositor + ' ' + e.apellido2Expositor}} </td>
                        <td> <button id="add-dato" class="btn btn-primary" (click)="addText2()"><i class="fa fa-plus"
                              aria-hidden="true"></i></button> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="overflow-auto">
                <div class="table table-responsive table-borderless">
                  <h4 class="text-left">Colaboradores</h4>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td id="id-comision"> {{colaboradores.nombreColaborador}} </td>
                        <td> <button id="add-dato" class="btn btn-primary" (click)="addText2()"><i class="fa fa-plus"
                              aria-hidden="true"></i></button> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="tipoUtilidad == 'certificado'">
            <div class="card-header">Participantes</div>
            <div class="card-body text-center max-height">
              <!-- listar acá los datos -->
              <div class="overflow-auto">
                <div class="table table-responsive table-borderless">
                  <h4 class="text-left">Participantes</h4>
                  <table class="table">
                    <tbody>
                      <tr *ngFor="let p of participantes">
                        <td id="id-comision"> {{p.users.nombreUsuario + ' ' + p.users.apellidoUsuario}} </td>
                        <td> <button id="add-dato" class="btn btn-primary" (click)="addText2()"><i class="fa fa-plus"
                              aria-hidden="true"></i></button> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div> <!-- cierre del div card-->

      </div>

      <!-- Espacio para visualizar el trabajo (Columna del medio) -->
      <div class="col-xl-6">
        <canvas id="canvas"></canvas>
      </div>

      <!-- Columna de la derecha -->
      <div class="col-xl-3">

        <!-- Card con opciones -->
        <div class="card">
          <div class="card-header">Opciones</div>
          <div class="card-body text-center">
            <div class="btn-group" role="group" aria-label="...">
              <button data-toggle="tooltip" data-placement="bottom" title="Eliminar elemento seleccionado" type="button"
                class="btn btn-outline-danger" [disabled]="!selected" (click)="removeSelected();">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Enviar elemento seleccionado al fondo"
                type="button" class="btn btn-outline-primary" [disabled]="!selected" (click)="sendToBack();">
                <i class="fa fa-level-down" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Enviar elemento seleccionado al frente"
                type="button" class="btn btn-outline-primary" [disabled]="!selected" (click)="bringToFront();">
                <i class="fa fa-level-up" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Clonar elemento seleccionado" type="button"
                class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'" (click)="clone();">
                <i class="fa fa-clone" aria-hidden="true"></i>
              </button>
              <button data-toggle="tooltip" data-placement="bottom" title="Deseleccionar elemento" type="button"
                class="btn btn-outline-primary" [disabled]="!selected" (click)="cleanSelect()">
                <i class="fa fa-remove" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        <br />

        <!-- Card para cambiar los colores de los elementos -->
        <div class="card" *ngIf="!selected">
          <div class="card-header">Fondo</div>
          <div class="card-body">
            <div class="custom-item" *ngIf="!props.canvasImage">
              <div class="custom-item-title">Color de fondo</div>
              <div class="custom-item-body">
                <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.canvasFill"
                  [style.background]="props.canvasFill" [value]="props.canvasFill"
                  (colorPickerChange)="setCanvasFill()">
              </div>
            </div>
            <div class="custom-item">
              <div class="custom-item-title">Imagen de fondo (url)</div>
              <div class="custom-item-body">
                <input type="text" class="form-control" placeholder="http://example.jpg" [(ngModel)]="props.canvasImage"
                  (keyup)="setCanvasImage()">
              </div>
            </div>
          </div>
        </div>
        <br />

        <!-- Configuración de los ítems seleccionados -->
        <div class="card">
          <div class="card-header">Configurar elemento</div>
          <div class="card-body">
            <div class="custom-item" *ngIf="selected  && selected.type == 'group'">Grupo seleccionado</div>
            <div class="custom-item" *ngIf="!selected">No hay nada seleccionado</div>
            <div class="custom-item" *ngIf="selected && selected.type != 'group'">
              <div class="custom-item-title">ID</div>
              <div class="custom-item-body">
                <input type="text" class="form-control" [(ngModel)]="props.id" (keyup)="setId()">
              </div>
            </div>
            <div class="custom-item" *ngIf="selected && selected.type != 'group'">
              <div class="custom-item-title">Opacidad</div>
              <div class="custom-item-body">
                <input type="range" [(ngModel)]="props.opacity" (change)="setOpacity()">{{props.opacity}}</div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor || selected && figureEditor">
              <div class="custom-item-title">Color</div>
              <div class="custom-item-body">
                <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill"
                  [style.background]="props.fill" [value]="props.fill" (colorPickerChange)="setFill()">
              </div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title">Fuente</div>
              <div class="custom-item-body">
                <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
                  <option value="arial">Arial</option>
                  <option value="helvetica" selected>Helvetica</option>
                  <option value="verdana">Verdana</option>
                  <option value="courier">Courier</option>
                  <option value="Roboto">Roboto</option>
                  <option value="Open Sans">Open Sans</option>
                  <option value="Zilla Slab">Zilla Slab</option>
                  <option value="Lato">Lato</option>
                  <option value="Bellefair">Bellefair</option>
                  <option value="Fresca">Fresca</option>
                  <option value="Raleway">Raleway</option>
                  <option value="Open Sans Condensed">Open Sans Condensed</option>
                  <option value="Indie Flower">Indie Flower</option>
                  <option value="Josefin Sans">Josefin Sans</option>
                  <option value="Inconsolata">Inconsolata</option>
                  <option value="Pacifico">Pacifico</option>
                  <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                </select>
              </div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title">Alinear texto</div>
              <div class="custom-item-body text-center">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'left' }"
                    (click)="setTextAlign('left')">
                    <i class="fa fa-align-left"></i>
                  </button>
                  <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'center' }"
                    (click)="setTextAlign('center')">
                    <i class="fa fa-align-center"></i>
                  </button>
                  <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'right' }"
                    (click)="setTextAlign('right')">
                    <i class="fa fa-align-right"></i>
                  </button>
                  <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'justify' }"
                    (click)="setTextAlign('justify')">
                    <i class="fa fa-align-justify"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title">Estilos</div>
              <div class="custom-item-body text-center">
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontWeight }"
                    (click)="setBold()">
                    <i class="fa fa-bold"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontStyle }"
                    (click)="setFontStyle()">
                    <i class="fa fa-italic"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm"
                    [ngClass]="{'active': hasTextDecoration('underline') }" (click)="setTextDecoration('underline')">
                    <i class="fa fa-underline"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm"
                    [ngClass]="{'active': hasTextDecoration('overline') }" (click)="setTextDecoration('overline')">
                    <i class="fa fa-underline fa-flip-vertical"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-sm"
                    [ngClass]="{'active': hasTextDecoration('line-through') }"
                    (click)="setTextDecoration('line-through')">
                    <i class="fa fa-strikethrough"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title">Tamaño de la fuente</div>
              <div class="custom-item-body">
                <input type="range" [(ngModel)]="props.fontSize" (change)="setFontSize()" step="1" min="1"
                  max="120">{{props.fontSize}}</div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title">Tamaño de espaciado</div>
              <div class="custom-item-body">
                <input type="range" [(ngModel)]="props.lineHeight" (change)="setLineHeight()" step="0.1" min="0"
                  max="10">{{props.lineHeight}}</div>
            </div>
            <div class="custom-item" *ngIf="selected && textEditor">
              <div class="custom-item-title">Espaciado entre letras</div>
              <div class="custom-item-body">
                <input type="range" [(ngModel)]="props.charSpacing" (change)="setCharSpacing()" step="10" min="-200"
                  max="800">{{props.charSpacing}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xl-12">
        <br />
        <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary btn-sm" (click)="rasterizeJSON()">
              <i class="fa fa-refresh" aria-hidden="true"></i> Render to json</button>
          </div>
          <div class="card-body">
            <pre>{{json}}</pre>
          </div>
        </div>
      </div>
    </div> -->
    <br>
    <br>
  </div>
</body>