<body class="fix-header card-no-border fix-sidebar">
    <div class="col-lg-12">
        <div class="card card-outline-info">
            <div class="card-header mt-3">
                <h1 class="text-center text-white">Crear comisión</h1>
            </div>
            <div class="card-body bordes-card">
                <form class="form-horizontal" #crearComisionForm="ngForm" (ngSubmit)="crearComision(crearComisionForm)">

                    <div class="form-group row">
                        <label class="col-sm-4 control-label text-right">Evento *</label>
                        <div class="col-sm-6">
                            <ngx-select-dropdown tabindex="0" [config]="configEvento" [options]="optionEvento"
                                [multiple]="false" name="evento_idEvento" #evento_idEvento="ngModel"
                                [(ngModel)]="eventos" required></ngx-select-dropdown>
                        </div>

                        <div class="col-sm-1 mt-2">
                            <a class="mytooltip" href="javascript:void(0)"> <i class="fa fa-question-circle"></i>
                                <span class="tooltip-content5">
                                    <span class="tooltip-text3">
                                        <span class="tooltip-inner2"> Seleccionar el evento para crear una comisión
                                            respectiva.
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <!-- Seleccionar encargados -->
                    <div class="form-group row">
                        <label class="col-sm-4 control-label text-right">Integrante de comisión *</label>
                        <div class="col-sm-6">
                            <ngx-select-dropdown tabindex="0" [config]="configUsuario" [options]="options"
                                [multiple]="true" name="email" #email="ngModel" [(ngModel)]="usuarios" required>
                            </ngx-select-dropdown>
                            <span class="help-block"><small>Selecciona usuarios para la comisión</small></span>
                        </div>

                        <div class="col-sm-1 mt-2">
                            <a class="mytooltip" href="javascript:void(0)"> <i class="fa fa-question-circle"></i>
                                <span class="tooltip-content5">
                                    <span class="tooltip-text3">
                                        <span class="tooltip-inner2"> Puedes seleccionar todos los integrantes
                                            necesarios para crear la comisión.
                                            Si necesitas volver a agregar integrantes a la comisión de cierto evento,
                                            puedes hacerlo sin ningún problema.
                                        </span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="form-group row m-l-5">
                        <p>Integrantes de la comisión seleccionados:</p>
                        <div class="col-sm-9">
                            <span class="badge badge-primary m-l-5" *ngFor="let user of usuarios">
                                {{user.nombreUsuario + ' ' + user.apellidoUsuario + ' (' + user.email +')'}} </span>
                        </div>
                    </div>

                    <div class="form-group row m-b-0">
                        <div class="col-md-8"></div>
                        <div class="col-md-2 text-right">
                            <button type="submit" [disabled]="crearComisionForm.invalid"
                                class="btn btn-block btn-success waves-effect waves-light">Crear</button>
                        </div>
                        <div class="col-md-2 text-left">
                            <button type="button" class="btn btn-danger btn-block waves-effect"
                                (click)="salirCrearComision()">
                                Cancelar
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>