<body class="fix-header card-no-border fix-sidebar">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form class="form-horizontal p-t-20" #crearComisionForm="ngForm" (ngSubmit)="crearComision(crearComisionForm)">
  
                    <!-- Listar eventos -->
                    <!-- <div class="form-group row">
                        <label for="evento_idEvento" class="col-sm-3 control-label">Evento</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="mdi mdi-city"></i></div>
                                <input type="number" class="form-control" name="evento_idEvento" id="evento_idEvento" #evento_idEvento="ngModel" [(ngModel)]="comision.evento_idEvento">
                            </div>
                            <span class="help-block"><small>Ingresa el id correspondiente del evento</small></span>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Evento</label>
                        <div class="col-sm-9">
                            <ngx-select-dropdown tabindex="0" [config]="configEvento" [options]="optionEvento"
                            [multiple]="false" name="evento_idEvento" #evento_idEvento="ngModel"
                            [(ngModel)]="eventos"></ngx-select-dropdown>
                        </div>
                    </div>

                    <!-- Seleccionar encargados -->
                    <div class="form-group row">
                        <label class="col-sm-3 control-label">Encargados</label>
                        <div class="col-sm-9">
                            <ngx-select-dropdown tabindex="0"  [config]="configUsuario" [options]="options" 
                            [multiple]="true" name="email" #email="ngModel" [(ngModel)]="usuarios"></ngx-select-dropdown>  
                            <span class="help-block"><small>Selecciona las personas requeridas para crear una comisión</small></span>
                        </div>
                    </div>

                    <div class="form-group row m-l-5">
                        <p>Personas seleccionadas:</p>
                        <div class="col-sm-9">
                            <span class="badge badge-primary m-l-5" *ngFor="let user of usuarios"> {{user.nombreUsuario + ' ' + user.apellidoUsuario + ' (' + user.email +')'}} </span>
                        </div>
                    </div>
                
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-12">
                            <button type="submit" class="btn btn-block btn-success waves-effect waves-light">Crear</button>
                        </div>
                    </div>
  
                </form>
            </div>
        </div>
    </div>
  </body>