<body class="fix-header card-no-border fix-sidebar">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material " id="loginform" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">

                    <h3 class="box-title m-b-20">Modificar usuario</h3>

                    <div class="register">
                        <mat-form-field>
                            <mat-label for="nombreUsuario">Modifica tu nombre</mat-label>
                            <input matInput placeholder="Ingresa tu nombre" type="text" name="nombreUsuario" #nombreUsuario="ngModel" [(ngModel)]="user.nombreUsuario" required>
                            <small *ngIf="!nombreUsuario.valid && nombreUsuario.touched" class="invalid-feedback d-block">
                              El nombre no es valido
                          </small>
                        </mat-form-field>
                    </div>

                    <div class="register ">
                        <mat-form-field>
                            <mat-label for="apellidoUsuario">Modifica tu apellido</mat-label>
                            <input matInput placeholder="Ingresa tu apellido" type="text" name="apellidoUsuario" #apellidoUsuario="ngModel" [(ngModel)]="user.apellidoUsuario" required>
                            <small *ngIf="!apellidoUsuario.valid && apellidoUsuario.touched" class="invalid-feedback d-block">
                              El apellido no es valido
                          </small>
                        </mat-form-field>
                    </div>

                    <div class="register ">
                        <mat-form-field>
                            <mat-label for="correo">Modifica tu correo</mat-label>
                            <input matInput placeholder="Ingresa tu nombre" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                              El email no es valido
                          </small>
                        </mat-form-field>
                    </div>


                    <div class="register">
                        <label for="avatar">Imagen de perfil</label>
                        <div *ngIf="identity && identity.avatar">
                            <img src="{{url + 'user/avatar/' + identity.avatar}}" class="img-fluid" alt="Responsive image">
                        </div>
                        <angular-file-uploader #file1 [config]="afuConfig" (ApiResponse)="avatarUpload($event)">
                        </angular-file-uploader>
                    </div>

                    <br><br>
                    <div class="register text-center p-b-20">
                        <button class="btn btn-info btn-lg btn-block btn-rounded waves-effect waves-light" type="submit" [disabled]="editForm.invalid">Guardar cambios</button>
                    </div>

                </form>
            </div>
        </div>
</body>
