<body class="fix-header card-no-border fix-sidebar">
    <div class="row">

        <!-- Column -->
        <div class="col-lg-3 col-xlg-3 col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-title card-info text-center">
                        <h2 class="text-white"> {{evento?.nombreEvento}} </h2>
                    </div>
                </div>
            </div>
            <div class="card">
                <img *ngIf="!evento?.imagen" src="../../../assets/images/socialbg.jpg" alt="fondo evento" />
                <img style="height: 300px;" *ngIf="evento?.imagen" src="{{url + 'image/' + evento.imagen}}"
                    alt="fondo evento" />
            </div>

            <!-- Botones -->
            <button class="btn btn-block btn-primary" (click)="editarEvento(evento.idEvento)"><i
                    class="mdi mdi-pencil"></i>
                Editar evento </button><br>

            <button *ngIf="rol == 1" class="btn btn-block btn-danger mb-3" (click)="eliminarEvento(evento.idEvento)"><i
                    class="mdi mdi-delete"></i> Eliminar evento</button>

            <!-- información del evento -->
            <div class="card">
                <div class="card-body">
                    <h5><i class="fa fa-users"></i> Cupos</h5>
                    <h6> {{evento?.capacidad}} </h6>
                    <hr>
                    <h5><i class="fa fa-calendar"></i> Fecha</h5>
                    <h6> {{fechaEvento | date:'dd/MM/yyyy'}} </h6>
                    <hr>
                    <h5><i class="mdi mdi-home-map-marker"></i> Dependencia </h5>
                    <h6> {{evento?.ubicacion}} </h6>
                    <hr>
                    <h5><i class="mdi mdi-map-marker"></i> Dirección</h5>
                    <h6> {{evento?.direccion}} </h6>
                    <hr>
                    <h5><i class="mdi mdi-information"></i> Descripción</h5>
                    <h6> {{evento?.detalles}} </h6>
                </div>
            </div>
        </div>

        <!-- Column -->
        <div class="col-lg-9 col-xlg-9 col-md-9 table-responsive">

            <div class="row m-t-5 m-r-10">
                <div class="col-lg-12 col-xlg-12 col-md-12 text-right">
                    <p class="text-info"> <span class="badge badge-info">Rol</span> {{rol | rol}} </p>
                    <hr>
                </div>
            </div>
            <div class="card">
                <div class="vtabs customvtab">
                    <!-- opciones tab -->
                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#jornada" role="tab">Jornadas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#actividad" role="tab">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#expositores" role="tab">Expositores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#colaboradores" role="tab">Colaboradores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#participantes" role="tab">Participantes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#comision" role="tab">Comisión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#repositorio" role="tab">Repositorio</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- jornada tab -->
                        <div class="tab-pane active" id="jornada" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Jornadas</h1>
                            </div>
                            <div class="card-body col-md-11">
                                <div class="table-responsive">
                                    <table class="table table-bordered color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Fecha</th>
                                                <th>Hora inicio</th>
                                                <th>Hora término</th>
                                                <th>Ubicación</th>
                                                <th>Descripción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let jornada of arrJornadas">
                                                <td> {{jornada.nombreJornada}} </td>
                                                <td> {{jornada.fechaJornada | date:'dd/MM/yyyy'}} </td>
                                                <td> {{jornada.horaInicioJornada | cambiarHora}} </td>
                                                <td> {{jornada.horaFinJornada | cambiarHora}} </td>
                                                <td> {{jornada.ubicacionJornada}} </td>
                                                <td class="text-justify"> {{jornada.descripcionJornada}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- actividades tab -->
                        <div class="tab-pane" id="actividad" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Actividades</h1>
                            </div>

                            <div class="card-body col-md-10">
                                <div class="table-responsive">
                                    <table class="table table-bordered color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Hora inicio</th>
                                                <th>Hora término</th>
                                                <th>Ubicación</th>
                                                <th>Descripción</th>
                                                <th>Actividad paralela</th>
                                                <th>Cupos</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let actividad of arrActividades">
                                                <td> {{actividad.nombreActividad}} </td>
                                                <td> {{actividad.horaInicioActividad}} </td>
                                                <td> {{actividad.horaFinActividad}} </td>
                                                <td> {{actividad.ubicacionActividad}} </td>
                                                <td> {{actividad.descripcionActividad}} </td>
                                                <td> {{actividad.actividadParalela}} </td>
                                                <td> {{actividad.cupos}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- expositores tab -->
                        <div class="tab-pane" id="expositores" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Expositores</h1>
                            </div>

                            <div class="row el-element-overlay">
                                <div *ngFor="let expositor of arrExpositores" class="col-lg-6 col-xs-12 col-md-6">
                                    <!-- agregar a este div un ngFor por cada expositor -->
                                    <div class="card">
                                        <div class="el-card-item">
                                            <div class="el-card-avatar el-overlay-1">
                                                <!-- expositor.foto -->
                                                <img *ngIf="!expositor.foto" src="../../../assets/images/user.png" />
                                                <img *ngIf="expositor.foto" src="{{url + 'image/' + expositor.foto}}" />
                                            </div>
                                            <div class="el-card-content">
                                                <h2 class="box-tittle text-dark"> <i class="fa fa-building"></i>
                                                    {{expositor.empresa}} </h2>
                                                <h3 class="box-tittle">
                                                    {{expositor.nombreExpositor + ' ' + expositor.apellidoExpositor + ' ' + expositor.apellido2Expositor}}
                                                </h3>
                                                <h6 class="mailbox"><i class="fa fa-envelope"></i> <a
                                                        href="mailto:{{expositor.correoExpositor}}">{{expositor.correoExpositor}}</a>
                                                </h6>
                                                <h6><i class="fa fa-phone"></i> <a
                                                        href="tel:{{expositor.telefonoExpositor}}">
                                                        {{expositor.telefonoExpositor}}</a> </h6>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- colaboradores tab -->
                        <div class="tab-pane" id="colaboradores" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Colaboradores</h1>
                            </div>

                            <div class="row el-element-overlay">
                                <div *ngFor="let colaborador of arrColaboradores" class="col-lg-6 col-xs-12 col-md-6">
                                    <!-- agregar a este div un ngFor por cada expositor -->
                                    <div class="card">
                                        <div class="el-card-item">
                                            <div class="el-card-avatar el-overlay-1">
                                                <img *ngIf="!colaborador.logo" src="../../../assets/images/user.png"
                                                    alt="Card image" />
                                                <img *ngIf="colaborador.logo"
                                                    src="{{url + 'image/' + colaborador.logo}}" alt="user" />
                                            </div>
                                            <div class="el-card-content">
                                                <h2 class="box-tittle text-dark"> <i class="fa fa-building"></i>
                                                    {{ colaborador.nombreColaborador}} </h2>
                                                <h3 class="box-tittle"> {{ colaborador.nombreRepresentante }} </h3>
                                                <h6 class="mailbox"><i class="fa fa-envelope"></i> <a
                                                        href="mailto:{{colaborador.correoColaborador}}">
                                                        {{colaborador.correoColaborador}}</a></h6>
                                                <h6 *ngIf="colaborador.sitioWeb"><i class="fa fa-globe"></i> <a
                                                        href="http://{{colaborador.sitioWeb}}" target="_blank">
                                                        {{colaborador.sitioWeb}}</a> </h6>
                                                <h6><i class="fa fa-phone"></i> <a
                                                        href="tel:{{colaborador.telefonoColaborador}}">
                                                        {{colaborador.telefonoColaborador}}</a> </h6>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- participantes tab-->
                        <div class="tab-pane" id="participantes" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Participantes inscritos</h1>
                            </div>

                            <div class="card-body col-md-11">
                                <div class="table-responsive">
                                    <table class="table table-bordered color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Fecha inscripción</th>
                                                <th>Hora inscripción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let persona of participantes; let i = index">
                                                <td> {{i+1}} </td>
                                                <td> {{persona.users.nombreUsuario + ' ' + persona.users.apellidoUsuario}}
                                                </td>
                                                <td> {{persona.created_at | date:'dd/MM/yyyy'}} </td>
                                                <td> {{persona.created_at | date:'hh:mm'}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- comision tab -->
                        <div class="tab-pane" id="comision" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Comisión</h1>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-success" (click)="agregarComision()"><i
                                            class="fa fa-plus"></i> Agregar integrante </button>
                                </div>
                            </div>

                            <div class="card-body col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Correo</th>
                                                <th>Fecha asignación</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let comision of comisiones; let i = index">
                                            <tr>
                                                <td> {{i+1}} </td>
                                                <td> {{comision.users.nombreUsuario + ' ' + comision.users.apellidoUsuario}}
                                                </td>
                                                <td> {{comision.users.email}} </td>
                                                <td> {{comision.created_at | date:'dd/MM/yyyy'}} </td>
                                                <td *ngIf="rol == 1">
                                                    <button class="btn btn-block btn-danger mb-3"
                                                        (click)="eliminarComision(comision.users.id)">
                                                        <i class="mdi mdi-delete"></i> </button></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>


                        </div>

                        <!-- repositorio tab -->
                        <div class="tab-pane" id="repositorio" role="tabpanel">
                            <div class="card-title text-center">
                                <h1>Repositorio</h1>
                            </div>

                            <div class="row">
                                <div class="col-md-12 m-t-15 text-right">
                                    <button type="button" class="btn btn-success" (click)="agregarRepositorioModal()">
                                        <i class="mdi mdi-plus"></i> Subir nuevo archivo
                                    </button>
                                </div>
                            </div>


                            <div class="card-body col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered color-table info-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Archivo</th>
                                                <th>Fecha de creación</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody *ngFor="let repo of repositorio; let i = index">
                                            <tr>
                                                <td> {{i+1}} </td>
                                                <td> {{repo.archivo}} </td>
                                                <td> {{repo.created_at | date:'dd/MM/yyyy'}} </td>
                                                <td><button class="btn btn-outline-success"
                                                        (click)="downloadFile(repo.archivo)">
                                                        <i class="mdi mdi-download"></i></button></td>
                                                <td><button class="btn btn-outline-danger" (click)="deleteFile(repo.idRepositorio)">
                                                    <i class="mdi mdi-delete"></i></button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- div final de los tab -->
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</body>
<!-- Row -->
<app-modal-repositorio-add></app-modal-repositorio-add>