<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-3">
        <div class="card">
            <img src="../../../assets/images/socialbg.jpg" alt="Card image" />
            <!-- evento.imagen -->
            <div class="card-img-overlay card-inverse social-profile d-flex">
                <div class="align-self-center">
                    <h2 *ngIf="evento.nombreEvento != null" class="card-title"> {{evento.nombreEvento}} </h2>
                    <h2 *ngIf="evento.nombreEvento == null" class="card-subtitle"> {{evento.nombreEventoInterno}} </h2>
                    <hr>
                    <h4 *ngIf="arrJornadas != null" class="card-subtitle"><i class="fa fa-calendar"></i>
                        {{arrJornadas[0].fechaJornada}} </h4>
                </div>
            </div>
        </div>

        <!-- Botones -->
        <button class="btn btn-block btn-primary" (click)="editarEvento(evento.idEvento)"><i class="mdi mdi-pencil"></i>
            Editar evento </button><br>

        <button *ngIf="rol == 1" class="btn btn-block btn-danger mb-3" (click)="eliminarEvento(evento.idEvento)"><i
                class="mdi mdi-delete"></i> Eliminar evento</button>

        <!-- información del evento -->
        <div class="card">
            <div class="card-body">
                <h5><i class="fa fa-users"></i> Cupos</h5>
                <h6> {{evento.capacidad}} </h6>
                <hr>
                <h5><i class="mdi mdi-home-map-marker"></i> Dependencia </h5>
                <h6> {{evento.ubicacion}} </h6>
                <hr>
                <h5><i class="mdi mdi-map-marker"></i> Dirección</h5>
                <h6> {{evento.direccion}} </h6>
                <hr>
                <h5><i class="mdi mdi-information"></i> Descripción</h5>
                <h6> {{evento.detalles}} </h6>
            </div>
        </div>
    </div>

    <!-- Column -->
    <div class="col-lg-9 col-xlg-9 col-md-9">
        <div class="card">
            <!-- barra de tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#jornada" role="tab">Jornadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#actividad" role="tab">Actividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#expositores" role="tab">Expositores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#colaboradores" role="tab">Colaboradores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#participantes" role="tab">Participantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#comision" role="tab">Comisión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#repositorio" role="tab">Repositorio</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <!-- jornada tab -->
                <div class="tab-pane active" id="jornada" role="tabpanel">
                    <div class="card-body">
                        <h1>Acá van las jornadas</h1>
                    </div>
                </div>

                <!-- actividades tab -->
                <div class="tab-pane" id="actividad" role="tabpanel">
                    <div class="card-body">
                        <h1>Acá van las actividades</h1>
                    </div>
                </div>

                <!-- expositores tab -->
                <div class="tab-pane" id="expositores" role="tabpanel">
                    <h2 class="mt-3 ml-3">Expositores</h2>
                    <hr>
                    <div class="row el-element-overlay">
                        <div *ngFor="let expositor of arrExpositores" class="col-lg-4 col-xlg-3 col-md-3">
                            <!-- agregar a este div un ngFor por cada expositor -->
                            <div class="card">
                                <div class="el-card-item">
                                    <div class="el-card-avatar el-overlay-1">
                                        <!-- expositor.foto -->
                                        <img *ngIf="!expositor.foto" src="../../../assets/images/user.png" />
                                        <img *ngIf="expositor.foto" src="{{url + 'image/' + expositor.foto}}" />

                                        <div class="el-overlay">
                                            <!-- overlay son efectos al pasar sobre la foto -->
                                            <ul class="el-info">
                                                <li>
                                                    <a *ngIf="!expositor.foto"
                                                        class="btn default btn-outline image-popup-vertical-fit"
                                                        href="../../../assets/images/user.png">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                    <a *ngIf="expositor.foto"
                                                        class="btn default btn-outline image-popup-vertical-fit"
                                                        href="{{url + 'image/' + expositor.foto}}">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="el-card-content">
                                        <h3 class="box-tittle"> {{expositor.empresa}} </h3>
                                        <h3 class="box-tittle">
                                            {{expositor.nombreExpositor + ' ' + expositor.apellidoExpositor + ' ' + expositor.apellido2Expositor}}
                                        </h3>
                                        <h6><i class="fa fa-envelope"></i> {{expositor.correoExpositor}} </h6>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="colaboradores" role="tabpanel">
                    <h2 class="mt-3 ml-3">Colaboradores</h2>
                    <br>
                    <div class="row el-element-overlay">
                        <div *ngFor="let colaborador of arrColaboradores" class="col-lg-4 col-xlg-3 col-md-3">
                            <!-- agregar a este div un ngFor por cada expositor -->
                            <div class="card">
                                <div class="el-card-item">
                                    <div class="el-card-avatar el-overlay-1">
                                        <img *ngIf="!colaborador.logo" src="../../../assets/images/user.png"
                                            alt="Card image" />
                                        <img *ngIf="colaborador.logo"
                                            src="{{url + 'image/' + colaborador.logo}}" alt="user" />

                                        <div class="el-overlay">
                                            <!-- overlay son efectos al pasar sobre la foto -->
                                            <ul class="el-info">
                                                <li>
                                                    <a *ngIf="!colaborador.logo"
                                                        class="btn default btn-outline image-popup-vertical-fit"
                                                        href="../../../assets/images/user.png">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                    <a *ngIf="colaborador.logo"
                                                        class="btn default btn-outline image-popup-vertical-fit"
                                                        href="{{url + 'image/' + colaborador.logo}}">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="el-card-content">
                                        <h2 class="box-tittle"><strong> {{ colaborador.nombreColaborador}}
                                            </strong>
                                        </h2> <!-- colaborador -->
                                        <h3 class="box-tittle"> {{ colaborador.nombreRepresentante }} </h3>
                                        <!-- colaborador -->
                                        <h6><i class="fa fa-envelope"></i> {{colaborador.correoColaborador}}
                                        </h6>
                                        <!-- expositor.correo -->
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="participantes" role="tabpanel">
                    <table class="table color-table inverse-table full-inverse-table full-color-table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th class="text-center">Asistencia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let persona of participantes; let i = index">
                                <td> {{i+1}} </td>
                                <td> {{persona.users.nombreUsuario + ' ' + persona.users.apellidoUsuario}} </td>
                                <td class="text-center"><button class="btn btn-success"
                                        (click)="acreditar(persona.users_id,evento.idEvento)">
                                        <i class="mdi mdi-check"></i> </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="comision" role="tabpanel">
                    <table class="table color-table inverse-table full-inverse-table full-color-table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let comision of comisiones; let i = index">
                            <tr>
                                <td> {{i+1}} </td>
                                <td> {{comision.users.nombreUsuario + ' ' + comision.users.apellidoUsuario}} </td>
                                <td> {{comision.users.email}} </td>
                                <td> <button class="btn btn-block btn-danger mb-3"
                                        (click)="eliminarComision(comision.users.id)"> <i class="mdi mdi-delete"></i>
                                    </button> </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

                <div class="tab-pane" id="repositorio" role="tabpanel">
                    <div class="col-md-12 text-center m-t-15">
                        <button type="button" class="btn btn-success" (click)="agregarRepositorioModal()">
                            <i class="mdi mdi-plus"></i> Agregar nuevo archivo
                        </button>
                    </div>

                    <table
                        class="table color-table m-t-15 inverse-table full-inverse-table full-color-table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Archivo</th>
                                <th>Fecha de creación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let repo of repositorio; let i = index">
                            <tr>
                                <td> {{i+1}} </td>
                                <td> {{repo.archivo}} </td>
                                <td> {{repo.created_at | date}} </td>
                                <td><button class="btn btn-outline-success" (click)="downloadFile(repo.archivo)"><i
                                            class="mdi mdi-download"></i></button></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div> <!-- div final de los tab -->
        </div>
    </div>
    <!-- Column -->
</div>
<!-- Row -->
<app-modal-repositorio-add></app-modal-repositorio-add>