<section id="wrapper">
    <div class="login-register" style="background-image:url(../assets/images/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">

                <form class="form-horizontal form-material " id="loginform" #editForm="ngForm" (ngSubmit)="onSubmit(editForm)">

                    <h3 class="box-title m-b-20">Crear una cuenta</h3>

                    <div class="register">
                        <mat-form-field>

                            <mat-label for="nombreUsuario">Ingresa tu nombre</mat-label>
                            <input matInput placeholder="Ingresa tu nombre" type="text" name="nombreUsuario" #nombreUsuario="ngModel" [(ngModel)]="user.nombreUsuario" required>
                            <small *ngIf="!nombreUsuario.valid && nombreUsuario.touched" class="invalid-feedback d-block">
                              El nombre no es valido
                          </small>
                        </mat-form-field>
                    </div>

                    <div class="register ">
                        <mat-form-field>
                            <mat-label for="apellidoUsuario">Ingresa tu apellido</mat-label>
                            <input matInput placeholder="Ingresa tu apellido" type="text" name="apellidoUsuario" #apellidoUsuario="ngModel" [(ngModel)]="user.apellidoUsuario" required>
                            <small *ngIf="!apellidoUsuario.valid && apellidoUsuario.touched" class="invalid-feedback d-block">
                              El apellido no es valido
                          </small>
                        </mat-form-field>

                    </div>

                    <div class="register ">
                        <mat-form-field>
                            <mat-label for="correo">Ingresa tu correo</mat-label>

                            <input matInput placeholder="Ingresa tu nombre" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                              El email no es valido
                          </small>
                        </mat-form-field>
                    </div>


                    <div class="register">
                        <label for="avatar">Avatar</label>
                        <angular-file-uploader #fileUpload1 [config]="afuConfig" (ApiResponse)="avatarUpload($event)">
                        </angular-file-uploader>
                    </div>

                    <!-- aceptar términos y condiciones -->
                    <!-- <div class="register row">
                          <div class="col-md-12">
                              <div class="checkbox checkbox-success p-t-0">
                                  <input id="checkbox-signup" type="checkbox"  class="filled-in chk-col-light-blue">
                                  <label for="checkbox-signup"> I agree to all <a href="javascript:void(0)">Terms</a></label>
                              </div>
                          </div>
                      </div> -->

                    <div class="register text-center p-b-20">

                        <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit" [disabled]="editForm.invalid">Registrarme</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>